<script type="text/javascript">
    $(function () {
        $('#details').datagrid({
            onClickRow: function () {
                var row = $('#details').datagrid('getSelected');
                if (row) {
                    $('#infodetails').datagrid({ url: '/StockCheckSearch/InfoDetails/?BillNo=' + row.BillNo });
                } else {
                    $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
                }
            }
        })
    });
</script>
<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid" 
        url="/StockCheckSearch/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="BillNo" width="120" align="center">盘点单号</th>
                <th field="WarehouseName" width="120" align="center">仓库名称</th>
                <th field="BillDate" width="120" align="center">制单日期</th>
                <th field="OperatePersonName" width="120" align="center">操作员</th>
                <th field="Status" width="120" align="center">处理状态</th>
                <th field="VerifyPersonName" width="120" align="center">审核人</th>
                <th field="VerifyDate" width="120" align="center">审核日期</th>
                <th field="Description" width="120" align="center">备注</th>
            </tr>
        </thead>
    </table>
</div>
<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
<table id="infodetails" class="easyui-datagrid" 
        url="/StockCheckSearch/Infodetails/" border="false" singleSelect="true"
        fit="true"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ID" width="80" align="center">序号</th>
                <th field="CellCode" width="100" align="center">货位编码</th>
                <th field="CellName" width="140" align="center">货位名称</th>
                <th field="ProductCode" width="100" align="center">产品代码</th>
                <th field="ProductName" width="140" align="center">产品名称</th>
                <th field="UnitCode" width="100" align="center">单位编码</th>
                <th field="UnitName" width="140" align="center">单位名称</th>
                <th field="Quantity" width="80" align="center">账面数量</th>
                <th field="RealQuantity" width="80" align="center">盘点数量</th>
                <th field="DifiierQuantity" width="80" align="center">差异数量</th>
            </tr>
        </thead>
    </table>
</div>