<script type="text/javascript">
    $(function () {

    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/Unit/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="UnitCode" width="80" hidden="true">计量单位编码</th>
                <th field="UnitName" width="100">计量单位名称</th>
                <th field="COUNT" width="80">支数</th>
                <th field="IsActive" width="80">是否启用</th>
                <th field="UpdateTime" width="80">更新时间</th>
            </tr>
        </thead>
    </table>
</div>

 
