<script type="text/javascript">
    $(function () {
        
    });
</script>
 
<div region="center" split="true" border="false">    
    <table class="easyui-datagrid"
        url="datagrid_data2.json" border="false"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="1" width="80">日志编号</th>
                <th field="2" width="80">日志时间</th>
                <th field="3" width="80">用户名</th>
                <th field="4" width="100">用户中文名</th>
                <th field="5" width="120">系统名称</th>
                <th field="6" width="80">事件类型</th>
                <th field="7" width="120">事件名称</th>
                <th field="8" width="180">事件详情</th>
            </tr>
        </thead>
    </table>
</div>

 


