<div id="DetailInfos2" class="easyui-dialog" modal="true" 
        style="width:800px;height:420px;padding:2px 2px"
        closed="true">    
    <table id="infos2" class="easyui-datagrid"
        url="" border="false" singleSelect="true"
        fit="true" fitColumns="true"   pagination="true" rownumbers="true">
        <thead>
            @*<tr>
                <th field="ID" width="80">序号</th>
                <th field="ProductCode" width="80">产品代码</th>
                <th field="ProductName" width="140">产品名称</th>
                <th field="UnitCode" width="80">单位编码</th>
                <th field="UnitName" width="80">单位名称</th>
                <th field="BillQuantity" width="80">订单数量</th>
                <th field="AllotQuantity" width="80">分配数量</th>
                <th field="RealQuantity" width="80">已出库量</th>
                <th field="Price" width="80">单价</th>
                <th field="Description" width="80">备注</th>
            </tr>*@
            <tr>
                <th field="IdNo" width="80" align="center">序号</th>
                <th field="ProductCode" width="100" align="center">产品代码</th>
                <th field="ProductName" width="140" align="center">产品名称</th>
                <th field="UnitCode" width="100" align="center">单位编码</th>
                <th field="UnitName" width="140" align="center">单位名称</th>
                <th field="Quantity" width="100" align="center">数量</th>
                <th field="RealQuantity" width="100" align="center">实际出库量</th>
                <th field="Status" width="80" align="center">备注</th>
            </tr>
        </thead>
    </table>
</div>