<script type="text/javascript">
    var url;
    function addClick() {
        AddLoad();
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#companyfm').form('clear');
        $('#companyfm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#CompanyType').combo({
            hasDownArrow: true
        });
        $('#isActive_com').combo({
            hasDownArrow: true
        });
        url = '/Company/Create/';
    };

    function save() {
        $('#companyfm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }

    function AddLoad() {
        $('#isActive_com').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });

        $('#CompanyType').combo({
            required: true,
            editable: false,
            panelHeight: 55,
            panelWidth: 130
        });  
    }
</script>
    <div id="dlg" class="easyui-dialog" modal="true" style="width:520px;height:330px;padding:2px 2px"   closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >     
	            <form id="companyfm" method="post">
                    <table width="480">
                      <tr>
                        <td width="60">公司编码:</td>
                        <td width="168"><input name="CompanyCode" class="easyui-validatebox" required="true"/>
                        <input name="ID"  style="display:none" /></td>
                        <td width="60">公司名称：</td>
                        <td width="168"><input name="CompanyName" class="easyui-validatebox" required="true"/></td>
                      </tr>
                        <tr>
                        <td width="60">上级名称:</td>
                        <td width="168"><input name="ParentCompanyID" type="text" id="company-add"/></td>
                        <td width="60">国家编码：</td>
                        <td width="168"><input name="UniformCode" /></td>
                      </tr>
                      <tr>
                        <td width="60">仓库面积:</td>
                        <td width="168"><input name="WarehouseSpace" class="easyui-numberbox"  type="text" required="true" missingmessage="请输入面积（必须为数字）"/></td>
                        <td width="60">仓库个数：</td>
                        <td width="168"><input name="WarehouseCount" class="easyui-numberbox"  type="text" required="true" missingmessage="请输入个数（必须为数字）"/></td>
                      </tr>
                      <tr>
                        <td width="60">仓库容量:</td>
                        <td width="168"><input name="WarehouseCapacity" class="easyui-numberbox"  type="text" required="true" missingmessage="请输入容量（必须为数字）"/></td>
                        <td width="60">分拣线数：</td>
                        <td width="168"><input name="SortingCount" class="easyui-numberbox"  type="text" required="true" missingmessage="请输入分拣线数（必须为数字）"/></td>
                      </tr>
                      <tr>
                        <td width="60">公司类型：</td>
                        <td width="168">
                        <select id="CompanyType" name="CompanyType" class="easyui-combobox" required="true"  style="width: 130px">
		                        <option value="1">配送中心</option>
		                        <option value="2">市公司</option>
                                <option value="3">县公司</option>
	                        </select></td>
                            <td>状态:</td>
                        <td><select id="isActive_com" name="IsActive" class="easyui-combobox" required="true" style="width: 130px">
		                        <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                      <tr>
                        <td width="60">描述:</td>
                        <td width="168" colspan="3" >
                        <textarea name="Description" style="width: 380px; height: 60px"></textarea> </td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
