<script type="text/javascript">
    var url, dispatchParameter;
    function addClick() {
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#workDispatchTable').datagrid({ url: '/SortOrderDispatch/GetWorkStatus/' }); //加载线路分配信息
    }

    function save() {
        $.asyncProcessing.OnProgressComplete = function () {
            $('#dlg').dialog('close');
            $('#details').datagrid('reload');
        }
        dispatchParameter = "";
        var dispatchRows = $('#workDispatchTable').datagrid('getSelections');
        for (var i = 0; i < dispatchRows.length; i++) {
            dispatchParameter += dispatchRows[i].ID + ",";
        }
        if (dispatchParameter != "" && dispatchParameter != null) {
            $.asyncProcessing.Start('/allotSortWork', $.toJSON({ ActionType: 'start', workDispatchId: dispatchParameter }));
        } else {
            $.messager.alert('错误', '请选择需要作业调度的线路！');
        }
    }
</script>
<div id="dlg" class="easyui-dialog" modal="true" style="width:780px; height:370;"
    closed="true" buttons="#dlg-buttons">
        <div region="center" border="false" style="height:370px;border: 1px solid #ccc;" >
            <table id="workDispatchTable" class="easyui-datagrid" singleSelect="false" pagination="fasle"
        border="false" fit="true" rownumbers="true" toolbar="#bar" fitColumns="true" showFooter="true">
                <thead>
                     <tr>
                        <th field="ck" checkbox="true">
                        <th field="ID" width="120" hidden="true">调度ID</th>
                        <th field="OrderDate" width="75" >订单日期</th>
                        <th field="SortingLineCode" width="70" >分拣线编码</th>
                        <th field="SortingLineName" width="120" >分拣线名称</th>
                        <th field="DeliverLineCode" width="80" hidden="true">送货线路编码</th>
                        <th field="DeliverLineName" width="140" >送货线路名称</th>
                        <th field="WorkStatus" width="80" >作业状态</th>
                        <th field="IsActive" width="80">是否可用</th>
                        <th field="UpdateTime" width="120">修改时间</th>
                    </tr>
                </thead>
            </table>
    </div>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">调度</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">
        取消</a>
</div>
