<script type="text/javascript">
    $(function () {
        $('#DispatchStatus').combo({
            editable: false,
            panelHeight: 45
        });
    })

    function searchClick() {
        $('#searchdlg').dialog('open').dialog('setTitle', '查询');
        $('#searchfm').form('clear');

        $('#SortingLineCode').combogrid({
            width: 130,
            panelWidth: 340,
            url: '/SortingLine/Details/?page=1&rows=20',
            idField: 'SortingLineCode',
            textField: 'SortingLineName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'SortingLineCode', title: '分拣线编码', align: 'left', width: 40 },
					{ field: 'SortingLineName', title: '分拣线名称', align: 'left', width: 40 },
                    { field: 'SortingLineType', title: '分拣线类型', align: 'left', width: 20 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 20 }
				]]
        });
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.SortingLineCode = $('#SortingLineCode').combogrid('getValue');
        queryParams.OrderDate = $('#searchOrderDate').datebox('getValue');
        queryParams.DispatchStatus = $('#DispatchStatus').combo('getValue'); ;
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 10
        }); 
        $("#details").datagrid('reload');
        $('#searchdlg').dialog('close'); 
    }

</script>
    <div id="searchdlg" class="easyui-dialog" modal="true"  style="width:300px;height:180px;"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;border:1px solid #ccc; " >     
	            <form id="searchfm" method="post" novalidate>
                   <table width="260">
                     <tr>
                        <td width="80" style="text-align:right">分拣线名称：</td>
                        <td width="160"><input type="text" id="SortingLineCode" /></td>
                      </tr>
                      <tr>
                        <td width="80" style="text-align:right">订单日期：</td>
                        <td>
                        <input id="searchOrderDate" class="easyui-datebox" type="text" style="width: 130px"/>
	                    </td>
                      </tr>
                       <tr>
                        <td width="80" style="text-align:right">作业状态：</td>
                        <td width="160">
                        <select id="DispatchStatus" style="width: 130px;" class="easyui-combobox">
                            <option selected="selected" value="2">调度中</option>
                            <option value="3">已调度</option>
                        </select>
                        </td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#searchdlg').dialog('close')">取消</a>
</div>
