<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/SortWorkDispatch/Details/'
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ID" width="80" hidden="true">作业ID</th>
                <th field="OrderDate" width="120" >订单日期</th>
                <th field="SortingLineCode" width="100" >分拣线编码</th>
                <th field="SortingLineName" width="120">分拣线名称</th>
                <th field="DispatchBatch" width="100">作业调度批次</th>
                <th field="OutBillNo" width="120">出库单编号</th>
                <th field="MoveBillNo" width="120">移库单编号</th>
                <th field="DispatchStatus" width="120">作业状态</th>
                <th field="IsActive" width="100">是否可用</th>
                <th field="UpdateTime" width="100">更新时间</th>
            </tr>
        </thead>
    </table>
</div>