<script type="text/javascript">
    $(function () {

    });
</script>
<div region="center" split="true"  border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid" url="/Job/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" >
        <thead>
            <tr>
                <th field="ID" hidden="true" width="80" >公司ID</th>
                <th field="JobCode" width="180" >岗位编码</th>
                <th field="JobName" width="180">岗位编码</th>
                <th field="Description" width="200">描述</th>   
                <th field="IsActive" width="160">是否可用</th>   
                <th field="UpdateTime" width="125" >更新时间</th>
            </tr>
        </thead>
    </table>
</div>