<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">  
    <table id="details" class="easyui-datagrid"
        url="/CurrentStock/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ProductCode" width="100">产品代码</th>
                <th field="SettleDate" width="140">产品名称</th>
                <th field="Beginning" width="100">库存数量(总件)</th>
                <th field="Beginning" width="100">库存数量(总条)</th>
                <th field="Beginning" width="100">库存数量(总支)</th>
            </tr> 
        </thead>
    </table>
</div>


 