<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid"
        url="/CurrentStock/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ProductCode" width="120" align="center">产品代码</th>
                <th field="ProductName" width="160" align="center">产品名称</th>
                <th field="Quantity" width="120" align="center">产品数量（支）</th>
                <th field="UnitName1" width="120" align="center">单位（件）</th>
                <th field="Quantity1" width="120" align="center">数量（件）</th>
                <th field="UnitName2" width="120" align="center">单位（条）</th>
                <th field="Quantity2" width="120" align="center">数量（条）</th>
            </tr> 
        </thead>
    </table>
</div>


 