<script type="text/javascript">
    var url;
    var detailUrl;
    var billno;
    var isShowOutBillDetail; //true 表示可以弹出明细添加窗口，false 表示提交主表单据失败，不能弹出明细添加窗体
    var isOutBillMasterAdd; //true 表示可以提交主表单据，false不能提交主表单据
    function DataLoad() {
        $('#wareHouseadd').combogrid({
            required: true,
            disabled:false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetWareHouseDetail/?IsActive=1',
            idField: 'WarehouseCode',
            textField: 'WarehouseName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'WarehouseCode', title: '仓库编码', align: 'left', width: 40 },
                    { field: 'WarehouseName', title: '仓库名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });
        
        $('#biiTypeadd').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetBillTypeDetail/?BillClass=0002&IsActive=1',
            idField: 'BillTypeCode',
            textField: 'BillTypeName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'BillTypeCode', title: '订单类型编码', align: 'left', width: 40 },
                    { field: 'BillTypeName', title: '订单类型名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });
    }

    function getTime() {
        var d = new Date();
        var vYear = d.getFullYear();
        var vMon = d.getMonth() + 1;
        var vDay = d.getDate();
        var h = d.getHours();
        var m = d.getMinutes();
        t = vYear + "-" + (vMon < 10 ? "0" + vMon : vMon) + "-" + (vDay < 10 ? "0" + vDay : vDay) + " " + (h < 10 ? "0" + h : h) + ":" + (m < 10 ? "0" + m : m);
        return t;
    }
    
    function addClick() {
        isShowOutBillDetail = false;
        isOutBillMasterAdd = true;
        $('#billNo').attr("readonly", true);
        $('#billDate').attr("readonly", true);
        DataLoad();
        $('#OperatePersonID').attr("disabled", "disabled");
        $('#VerifyPersonID').attr("disabled", "disabled");
        $('#VerifyDateID').attr("disabled", "disabled");
        $.getJSON("/StockOutBill/GenInBillNo/", function (json) {
            if (json) {
                $('#outBillDeatil').datagrid('loadData', { total: 0, rows: [] }); //清空细单
                $('#dlg').dialog('open').dialog('setTitle', '新增出库订单');
                $('#fm').form('clear');
                $('#centerShowDiv').css({ display: "block" });
                $('#billNo').val(json.BillNo);
                billno = json.BillNo;
                $('#OperatePersonID').val(json.employeeID);
                $('#OperatePersonName').val(json.employeeName);
                $('#billDate').val(json.billNoDate);
                $('#fm .easyui-validatebox').validatebox({
                    required: true
                });
                $('form input').removeAttr("disabled");                
                $('form textarea').removeAttr("disabled");
                $('#cc').combo({
                    hasDownArrow: true
                });
                url = '/StockOutBill/Create/';
            } else {
                $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
            }
        });
    }

    //单击添加细表保存主表单据
    function outBillMasterSave() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    isShowOutBillDetail = true;
                    isOutBillMasterAdd = false;
                    outBillDetailShoew();
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#dlg-AddBillDetail').dialog('close');
                    $('#details').datagrid('reload');
                }
            }
        });
    }

    //保存主单
    function save() {
        if (isOutBillMasterAdd == true) {//false 表示主表未保存
            masterSave();
        } else {
            url = '/StockOutBill/Edit/';
            masterSave();            
        }
        $('#outBillDetails').datagrid('loadData', { total: 0, rows: [] }); //清空细单
    }

    function masterSave() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg').dialog('close');
                    $('#details').datagrid('reload');
                    $('#outBillDeatil').datagrid('load');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }

    //新增明细
    function addBillDetailClick() {
        if (isOutBillMasterAdd) {
            outBillMasterSave();
        }
        if (isShowOutBillDetail) {
            outBillDetailShoew();
        }
    };

    //打开新增明细页面
    function outBillDetailShoew() {
        $('#fm-inBillDetail .easyui-validatebox').validatebox({
            required: true
        });
        $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '新增出库订单明细');
        $('input[type=text]', '#fm-inBillDetail').attr("value", "");
        $('#detailBillNo').val(billno);
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        //$('#detailBillNo').attr("readonly", true);
        detailUrl = '/StockOutBill/OutBillDetailCreate/';
    }

    //删除细单
    function deleteBillDetailClick() {
        var detailRow = $('#outBillDeatil').datagrid('getSelected');
        if (detailRow) {
            $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '删除出库细表信息');
            $('#fm-inBillDetail .easyui-validatebox').validatebox({
                required: false
            });
            $('input[type=text]', '#fm-inBillDetail').attr("disabled", "disabled");
            $('form textarea').attr("disabled", "disabled");
            $('#fm-inBillDetail').form('load', detailRow);
            detailUrl = '/StockOutBill/outBillDelete/?BillNo=' + detailRow.BillNo + '&ID=' + detailRow.ID;
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    }

    //修改细单
    function editBillDetailClick() {
        var detailRow = $('#outBillDeatil').datagrid('getSelected');
        if (detailRow) {
            $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '修改出库细表信息');
            $('#fm-inBillDetail .easyui-validatebox').validatebox({
                required: false
            });
            $('form input').removeAttr("disabled");
            $('form textarea').removeAttr("disabled");
            $('#fm-inBillDetail').form('load', detailRow);
            detailUrl = '/StockOutBill/editOutBillDelete/';
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    }

    //保存细单
    function outBillDetailSave() {
        $('#fm-inBillDetail').form('submit', {
            url: detailUrl,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg-AddBillDetail').dialog('close');
                    $('#outBillDeatil').datagrid({ url: '/StockOutBill/OutBillDetails/?BillNo=' + billno });
                    isOutBillMasterAdd=false;
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#outBillDetail').datagrid('reload');
                }
            }
        });
    }
    
    function productSelect() {
        $('#productData').dialog('open').dialog('setTitle', '选择产品信息');
        $('#productDetail').datagrid({ url: '/Product/CheckFindProduct/' });
        $("#productDetail").datagrid('reload');
    }
    function unitSelect() {
        var productCode = $('#productCode').val();
        if (productCode != "" && productCode != null) {
            $('#unitData').dialog('open').dialog('setTitle', '选择单位信息');
            $('#unitDetail').datagrid({ url: '/Unit/FindUnit/?productCode=' + productCode });
            $('#billQuantity').attr("value", '')
            $("#unitDetail").datagrid('reload');
        } else {
            $.messager.alert('错误', '请先选择产品信息！');
        }
    }
</script>
<div id="dlg" class="easyui-dialog" modal="true"  style="width:700px;height:500px;padding:0px 0px"
        closed="true" buttons="#dlg-buttons">
	<div class="easyui-layout" fit="true">
        <div region="center" border="false" >
            <table class="easyui-datagrid" border="false" id="outBillDeatil" toolbar="#dlg-detailButtons" width="700" 
                fit="true" fitColumns="true" singleSelect="true"  pagination="true" rownumbers="true">
                <thead>
                    <tr>
                        <th field="ID"  hidden="true" width="100">细表ID</th>
                        <th field="BillNo"  width="120" align="left">单据号</th>
                        <th field="ProductCode" width="100" align="left">产品代码</th>
                        <th field="ProductName" width="80" align="left">产品名称</th>
                        <th field="UnitCode" width="80" align="left">单位编码</th>
                        <th field="UnitName" width="80" align="left">单位名称</th>
                        <th field="BillQuantity" width="80" align="left">数量</th>
                        <th field="RealQuantity" width="80" align="left">实际出库量</th>
                        <th field="Price" width="80" align="left">单价</th>
                        <th field="Description" width="80" align="left">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="dlg-detailButtons" style="width: auto; height: auto; background-color: #FFFFFF;">
	<div border="false" style="padding:4px 4px;" >      
	    <form id="fm" method="post" novalidate>
            <table height="100px">
                <tr>
                <td width="60">订单号</td>
                <td width="168"><input name="BillNo" id="billNo" class="easyui-validatebox"  /></td>
                <td width="60">制单日期</td>
                <td width="168"><input name="BillDate" id="billDate" class="easyui-validatebox" /></td>
                <td width="60">订单类型</td>
                <td width="168"><input name="BillTypeCode" id="biiTypeadd" missingmessage="请选择订单类型" /></td>
                </tr>
                <tr>
                <td width="60">仓库编码</td>
                <td width="168"><input name="WarehouseCode" id="wareHouseadd" missingmessage="请选择仓库编码" />
                </td>
                <td width="60">经办人</td>
                <td width="168">
                <input name="OperatePersonID" id="OperatePersonID" readonly="readonly" style="display:none"/>
                <input name="OperatePersonName" id="OperatePersonName" readonly="readonly"/></td>
                <td width="60">状态</td>
                <td width="168"><input name="Status" readonly="readonly"/></td>
                </tr>
                <tr>
                <td width="60">审核人员</td>
                <td width="168"><input name="VerifyPersonName" id="VerifyPersonID" readonly="readonly"/></td>
                <td width="60">审核时间</td>
                <td width="168"><input name="VerifyDate" id="VerifyDateID" readonly="readonly"/></td>
                <td width="60">描述</td>
                <td width="168"><input name="Description" /></td>
                </tr>
            </table>
	    </form>
    </div>
    <div id="centerShowDiv" border="false" style="padding:4px 4px;display:block;" > 
	    <a href="#" id="addBillDetail" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addBillDetailClick()">添加明细</a>
	    <a href="#" id="deleteBillDetail" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteBillDetailClick()">删除明细</a>
        <a href="#" id="editBillDetail" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editBillDetailClick()">修改明细</a>
    </div>
</div>

<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>

<div id="dlg-AddBillDetail" class="easyui-dialog" modal="true" style="width:260px;height:350px;padding:0px 0px"
        closed="true" buttons="#dlg-AddBillDetailbuttons">
        <form id="fm-inBillDetail" method="post" novalidate>
            <table style="padding:10px 10px 0px 5px">
              <tr>
                <td style=" text-align:right">入库单号</td>
                <td align="left"><input  name="BillNo" id="detailBillNo" readonly="readonly"/>
                <input  name="ID" style=" display:none" />
                </td>
                <td></td>
              </tr>
              <tr>
                <td style=" text-align:right">产品代码</td>
                <td><input name="ProductCode" id="productCode" class="easyui-validatebox"  type="text"/>
                <a href="#" onclick="productSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true" ></a></td>
              </tr>
              <tr>
                <td style=" text-align:right">产品名称</td>
                <td align="left"><input type="text" name="ProductName" class="easyui-validatebox" id="productName" readonly="readonly"/>                
                </td>
                <td></td>
              </tr>
              <tr>
                <td style=" text-align:right">单位编码</td>
                <td align="left"><label>
                  <input type="text" name="UnitCode" class="easyui-validatebox" id="unitCode" readonly="readonly"/>
                  <a href="#" onclick="unitSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true" ></a>
                </label></td>
                <td></td>
              </tr>
              <tr>
                <td style=" text-align:right">单位名称</td>
                <td align="left"><input type="text" name="UnitName" class="easyui-validatebox" id="unitName" readonly="readonly"/></td>
                <td></td>
              </tr>
              <tr>
                <td style=" text-align:right">数量</td>
                <td align="left"><input  id="storageQuantity" style=" display:none" />
                <input type="text" id="billQuantity" name="BillQuantity" class="easyui-numberbox" min="0" max="999999999" precision="2" required="true" missingMessage="请填写数字！" /></td>
                <td></td>
              </tr>
              <tr style="display:none">
                <td style=" text-align:right">实际入库量</td>
                <td align="left"><input type="text" name="RealQuantity" /></td>
                <td></td>
              </tr>
              <tr>
                <td style=" text-align:right">单价</td>
                <td align="left"><input type="text" name="Price" class="easyui-validatebox" id="price" readonly="readonly" /></td>
                <td></td>
              </tr>
              <tr>
                <td style=" text-align:right">总金额</td>
                <td align="left"><input type="text" name="textfield6" /></td>
                <td></td>
              </tr>
              <tr>
                <td style=" text-align:right">备注</td>
                <td align="left"><input type="text" name="textarea"/></td>
                <td></td>
              </tr>
            </table>
     </form>
</div>

<div id="dlg-AddBillDetailbuttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="outBillDetailSave()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-AddBillDetail').dialog('close')">取消</a>
</div>
@Html.Partial("_ProductPartial")
@Html.Partial("_UnitPartial")
