<script type="text/javascript">
    var billNo = "";    
    function allotClick() {
        var row = $('#details').datagrid('getSelected');
        if (row) {
            $('#area').combotree({
                url: '/Area/GetDetailsTree/',
                multiple: true,
                width: 160
            });
            isOutBillMasterAdd = false;
            isShowOutBillDetail = true;
            if (row.Status == "已录入" || row.Status == "已入库") {
                $.messager.confirm('错误', '该记录未审核或已入库无法进行分配！');
            } else {
                $('#dlg-allot').dialog('open').dialog('setTitle', '出库单据分配');
                $('#outBillDetails1').datagrid({ url: '/StockOutBill/OutBillDetails/?BillNo=' + row.BillNo });
                $('#allotBillDetails').datagrid({ url: '/StockOutBillAllot/Search/?BillNo=' + row.BillNo });
                billNo = row.BillNo;
            }
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    };

    function allot() {
        $.asyncProcessing.OnProgressComplete = function () {
            $('#details').datagrid('reload');
            $('#outBillDetails1').datagrid('reload');
            $('#allotBillDetails').datagrid('reload');
        }
        var areas = $('#area').combotree('getValues');
        $.asyncProcessing.Start('/allotStockOut', $.toJSON({ ActionType: 'start', BillNo: billNo, AreaCodes: areas}));
    }

    var modifyUrl;

    //删除出库单明细
    function allotDelete() {
        var detailRow = $('#allotBillDetails').datagrid('getSelected');
        if (detailRow) {
            $('#dlg_allot_modify').dialog('open').dialog('setTitle', '删除');
            $('#fm_allot').form('load', detailRow);
            modifyUrl = '/StockOutBillAllot/AllotDelete/';
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    }

    //新增出库单明细分配
    function allotAdd() {
        var detailRow = $('#outBillDetails1').datagrid('getSelected');
        if (detailRow) {
            if (detailRow.AllotQuantity < detailRow.BillQuantity) {
                $('#fm_allot').form('clear');
                $('#dlg_allot_modify').dialog('open').dialog('setTitle', '新增');
                $('#fm_allot').form('load', detailRow);
                $('#allQuantity').attr("value", '')
                modifyUrl = '/StockOutBillAllot/AllotAdd/';
            } else {
                $.messager.alert('错误', '所选卷烟已分配完成！');
            }
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    }

    //修改出库单明细
    function allotEdit() {
        var detailRow = $('#allotBillDetails').datagrid('getSelected');
        if (detailRow) {
            $('#dlg_allot_modify').dialog('open').dialog('setTitle', '修改');
            $('#fm_allot').form('load', detailRow);
            modifyUrl = '/StockOutBillAllot/AllotEdit/';
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    }

    function AllotModifySave() {
        $('#fm_allot .easyui-validatebox').validatebox({
            required: true
        });
        if ($('#fm_allot').form('validate')) {
            var j_waitDialog = ShowWaitMessageDialog();
            $.ajax({
                url: modifyUrl, type: "GET", dataType: "text",
                data: $('#fm_allot').serializeArray(),
                complete: function () { HideWaitMessageDialog(j_waitDialog); },
                success: function (responseText) {
                    var result = $.evalJSON(responseText);
                    if (result.success) {
                        $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                        $('#details').datagrid('reload');
                        $('#outBillDetails1').datagrid('reload');
                        $('#allotBillDetails').datagrid('reload');
                        $('#dlg_allot_modify').dialog('close');
                    } else {
                        $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    }
                }
            });
        };
    };

    function confirmAllot() {
        var j_waitDialog = ShowWaitMessageDialog();
        $.ajax({
            url: "/StockOutBillAllot/AllotConfirm/", type: "GET", dataType: "text",
            data: { billNo: billNo },
            complete: function () { HideWaitMessageDialog(j_waitDialog); },
            success: function (responseText) {
                var result = $.evalJSON(responseText);
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#outBillDetails1').datagrid('reload');
                    $('#allotBillDetails').datagrid('reload');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                }
            }
        });
    }

    function cancelConfirm() {
        var j_waitDialog = ShowWaitMessageDialog();
        $.ajax({
            url: "/StockOutBillAllot/AllotCancelConfirm/", type: "GET", dataType: "text",
            data: { billNo: billNo },
            complete: function () { HideWaitMessageDialog(j_waitDialog); },
            success: function (responseText) {
                var result = $.evalJSON(responseText);
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#outBillDetails1').datagrid('reload');
                    $('#allotBillDetails').datagrid('reload');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                }
            }
        });
    }

    function cancelAllot() {
        var j_waitDialog = ShowWaitMessageDialog();
        $.ajax({
            url: "/StockOutBillAllot/AllotCancel/", type: "GET", dataType: "text",
            data: { billNo: billNo },
            complete: function () { HideWaitMessageDialog(j_waitDialog); },
            success: function (responseText) {
                var result = $.evalJSON(responseText);
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#outBillDetails1').datagrid('reload');
                    $('#allotBillDetails').datagrid('reload');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                }
            }
        });
    }
</script>

<div id="dlg-allot" class="easyui-dialog" modal="true"
        style="width:1000px;height:500px;padding:0px 0px"
        closed="true" buttons="" >
    <div class="easyui-layout" fit="true" >  
        <div region="center" split="true"  border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">   
            <table class="easyui-datagrid" border="false" singleSelect="true" id="outBillDetails1" url="" toolbar="#bar"
                fit="true" fitColumns="true"  pagination="true" rownumbers="true" >
                <thead>
                    <tr>
                        <th field="ID" width="50" align="left" hidden="true">ID</th>
                        <th field="BillNo" width="80"  hidden="true">订单号</th>
                        <th field="ProductCode" width="100">商品编码</th>
                        <th field="ProductName" width="80" align="right">商品名称</th>
                        <th field="UnitCode" width="80" align="right">单位编码</th>
                        <th field="UnitName" width="80" align="right">单位名称</th>
                        <th field="BillQuantity" width="80" align="right">订单数量</th>
                        <th field="AllotQuantity" width="80" align="right">已分配数量</th>
                        <th field="RealQuantity" width="80" align="right">实际出库量</th>
                        <th field="Description" width="80" align="right">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div region="south" split="true" border="false" style=" height:250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
            <table class="easyui-datagrid" border="false" singleSelect="true" id="allotBillDetails" url=""
                fit="true" fitColumns="true"  pagination="true" rownumbers="true" >
                <thead>
                    <tr>
                        <th field="ID" width="50" align="left" hidden="true">ID</th>
                        <th field="BillNo" width="80"  hidden="true">订单号</th>
                        <th field="ProductCode" width="100" align="right">商品编码</th>
                        <th field="ProductName" width="120" align="right">商品名称</th>
                        <th field="CellCode" width="80" align="right" hidden="true">储位编码</th>
                        <th field="CellName" width="100" align="right">储位名称</th>
                        <th field="StorageCode" width="80"  hidden="true">存储编码</th>
                        <th field="UnitCode" width="80" align="right" hidden="true">单位编码</th>
                        <th field="UnitName" width="80" align="right">单位名称</th>
                        <th field="AllotQuantity" width="80" align="right">分配数量</th>
                        <th field="RealQuantity" width="80" align="right">实际数量</th>
                        <th field="OperatePersonID" width="80" align="right">作业人员</th>
                        <th field="StartTime" width="80" align="right">开始时间</th>
                        <th field="FinishTime" width="80" align="right">完成时间</th>
                        <th field="Status" width="80" align="right">作业状态</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="bar" style="width: auto; height: auto; background-color: #FFFFFF;padding:4px 10px;" >库区
    <select class="easyui-combotree"
            name="language"
            url=""
            valueField="id"
            textField="text"
            multiple="true"
            panelHeight="auto"
            panelWidth="160px"
            id="area"></select>
    <a href="#" class="easyui-linkbutton" iconCls="icon-Menu_CheckBill" plain="true" onclick="allot()">自动分配</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="cancelAllot()">取消分配</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="allotAdd()">手工增加</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="allotEdit()">手工修改</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="allotDelete()">手工删除</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="confirmAllot()">确认分配</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="cancelConfirm()">取消确认</a>
</div>

<div id="dlg_allot_modify" class="easyui-dialog" modal="true"
        style="width:290px;height:300px;padding:4px 4px"
        closed="true" buttons="#dlg_allot_modify_buttons" align="center">
        <form id="fm_allot" method="post" novalidate>
            <input type="hidden" name="ID" readonly="true"/>
            <table style="padding:10px 10px 0px 5px">
                <tr>
                    <td width ="60px">入库单号</td>
                    <td align="left"><input type="text" name="BillNo" readonly="true"/></td>
                  </tr>
                  <tr>
                    <td >产品代码</td>
                    <td align="left">
                        <input type="text" id="cellProductCode" name="ProductCode" readonly="true" />
                    </td>
                  </tr>
                  <tr>
                    <td >产品名称</td>
                    <td align="left"><input type="text" name="ProductName" class="easyui-validatebox" required="true" readonly="true"/></td>
                  </tr>
                  <tr>
                    <td >储位编码</td>
                    <td align="left">
                      <input type="text" name="CellCode" class="easyui-validatebox"  readonly="true" missingmessage="请选择储位！"/>
                      <a href="#" onclick="javascript:outCellSelect($('input[name=CellCode]'),$('input[name=CellName]'))" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                    </td>
                  </tr>
                  <tr>
                    <td >储位名称</td>
                    <td align="left"><input type="text" name="CellName" class="easyui-validatebox" readonly="true" /></td>
                  </tr>
                  <tr>
                    <td >单位编码</td>
                    <td align="left">
                        <input type="text" name="UnitCode" class="easyui-validatebox" required="true" readonly="true"/>
                    </td>
                  </tr>
                  <tr>
                    <td >单位名称</td>
                    <td align="left"><input type="text" name="UnitName" class="easyui-validatebox" required="true" readonly="true" /></td>
                  </tr>
                  <tr>
                    <td >分配数量</td>
                    <td align="left"><input type="text" name="AllotQuantity" id="allQuantity" class="easyui-numberbox" required="true"/></td>
                  </tr>
                </table>
        </form>
</div>

<div id="dlg_allot_modify_buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="AllotModifySave()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg_allot_modify').dialog('close')">取消</a>
</div>


