<script type="text/javascript">
    var url;

    function AddLoad() { 
       $('#Status').combo({
            required: true,
            editable: false,
            panelHeight: 85,
            panelWidth: 130
        });
        $('#isActive_emp').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });
        $('#sex').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });

        $('#depar-add').combogrid({
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/Department/Details/?page=1&rows=10',
            idField: 'ID',
            textField: 'DepartmentName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '部门ID', hidden: true, width: 30 },
					{ field: 'DepartmentCode', title: '部门编码', align: 'left', width: 40 },
					{ field: 'DepartmentName', title: '部门名称', align: 'left', width: 30 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
				]]
        });

        $('#user-add').combogrid({
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/User/Details/?page=1&rows=10',
            idField: 'UserName',
            textField: 'UserName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'UserID', title: '用户ID', hidden: true, width: 30 },
					{ field: 'UserName', title: '用户名称', align: 'left', width: 40 },
					{ field: 'ChineseName', title: '中文名', align: 'left', width: 30 },
					{ field: 'IsAdmin', title: '是否是管理员', align: 'left', width: 30 }
				]]
        });

        $('#job-add').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/Job/Details/?page=1&rows=10',
            idField: 'ID',
            textField: 'JobName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '岗位ID', hidden: true, width: 30 },
					{ field: 'JobCode', title: '岗位编码', align: 'left', width: 40 },
					{ field: 'JobName', title: '岗位名称', align: 'left', width: 30 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
				]]
        });
    }

    function addClick() {
        AddLoad();
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#fm').form('clear');
        $('#fm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#isActive_emp').combo({
            hasDownArrow: true
        });
        url = '/Employee/Create/';
    };

    function save() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg').dialog('close'); 
                    $('#details').datagrid('reload'); 
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>

    <div id="dlg" class="easyui-dialog" modal="true"  style="width:560px;height:320px;padding:2px 2px" closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >     
	            <form id="fm" method="post" novalidate>
                    <table width="520">
                      <tr>
                        <td width="60" align="right">员工编码：</td>
                        <td width="168"><input name="EmployeeCode" class="easyui-validatebox" required="true"/><input name="ID" style="display:none"/></td>
                        <td width="60" align="right">员工姓名：</td>
                        <td width="168"><input name="EmployeeName" class="easyui-validatebox" required="true"/></td>
                      </tr>
                      <tr>
                       <td  align="right">性别：</td>
                        <td ><select id="sex" name="Sex" class="easyui-combobox" style="width: 130px" class="easyui-validatebox" required="true">
		                        <option value="女">女</option>
		                        <option value="男">男</option>
		                        <option value="保密">保密</option>
	                        </select></td>
                        <td align="right">电话：</td>
                        <td ><input name="Tel" class="easyui-numberbox"  type="text" required="true" missingmessage="请输入电话号码（必须为数字）"/></td>
                      </tr>
                      <tr>
                        <td align="right">状态：</td>
                        <td><select id="Status" name="Status" class="easyui-combobox" style="width: 130px">
		                        <option value="3701">在职</option>
		                        <option value="3702">离职</option>
                                <option value="3703">退休</option>
		                        <option value="3704">试用</option>
                                <option value="3705">外调</option>
		                        <option value="3706">停薪留职</option>
                                 <option value="3707">借用</option>
                                 <option value="3708">其他</option>
	                        </select>
	                    </td>
                        <td align="right">是否可用：</td>
                        <td><select id="isActive_emp" name="IsActive" class="easyui-combobox" style="width: 130px">
		                        <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                      <tr>
                       <td align="right">部门名称：</td>
                        <td width="168">
                        <input name="DepartmentID" id="depar-add"  />
                        </td>
                        <td width="60" align="right">岗位：</td>
                        <td width="168">
                        <input name="JobID" id="job-add" required="true" />
                        </td>
                      </tr>
                      <tr>
                       <td align="right">用户名称：</td>
                        <td width="168" colspan="3">
                        <input name="UserName" id="user-add"  />
                        </td>
                      </tr>
                       <tr>
                       <td width="60" align="right">描述：</td>
                        <td width="168" colspan="3" ><textarea name="Description" style="width: 380px; height: 80px"></textarea> </td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
