<script type="text/javascript">
    function searchClick() {
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.UserName = $('#userName').val();
        queryParams.ChineseName = $('#chineseName').val();
        queryParams.IsLock = $('#isLock').val();
        queryParams.IsAdmin = $('#isAdmin').val();
        queryParams.Memo = $('#memo').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 10
        }); 
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close'); 
    }

</script>

<div id="dlg-search" class="easyui-dialog" modal="true" style="width:300px;height:180px;padding:2px 2px"
		closed="true" buttons="#dlg-buttons-search">
    <div class="easyui-layout" fit="true">
		<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
            <table  border="0" align="center" style="margin:auto; width:100%; height:100%">
              <tr>
                <td >用户名</td>
                <td align="left"><input id="userName" type="text"/></td>
              </tr>
              <tr>
                <td>中文名称</td>
                <td  align="left"><input id="chineseName" type="text"  /></td>
              </tr>
              <tr>
                <td>备注</td>
                <td  align="left"><input id="memo" type="text" />    </td>
              </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-search">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">查询</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">取消</a>
</div>
