<script type="text/javascript">
    $(function () {

    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/City/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="CityID" width="80" hidden="true">单位编码</th>
                <th field="CityName" width="100">单位名称</th>
                <th field="Description" width="80">与标准单位比率</th>
                <th field="IsActive" width="80">是否默认</th>
                <th field="IsActive" width="80">是否启用</th>
                <th field="IsActive" width="80">备注</th>
            </tr>
        </thead>
    </table>
</div>

 
