<script type="text/javascript">

    function formatAction(value, row, index) {
        var e = '<a href="#" onclick="detail( ' + index + ')">查询明细</a> ';
        return e
    }

    function detail(index) {
        var row = $('#details').datagrid('getSelected');
        if (row) {
            $('#infos').datagrid({ url: '/StockIntoSearch/DetailInfos/?BillNo=' + row.BillNo });
            $('#InfoDetails').dialog('open').dialog('setTitle', '入库单'+row.BillNo+'明细');
        }
    }

    $(function () {
        $('#details').datagrid({
            onClickRow: function () {
                var row = $('#details').datagrid('getSelected');
                if (row) {
                    $('#infodetails').datagrid({ url: '/StockIntoSearch/InfoDetails/?BillNo=' + row.BillNo });
                } else {
                    $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
                }
            }
        })
    });
</script>
<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid" 
        url="/StockIntoSearch/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="BillNo" width="120" align="center">入库单号</th>
                <th field="WarehouseName" width="120" align="center">仓库名称</th>
                <th field="BillDate" width="120" align="center">制单日期</th>
                <th field="OperatePersonName" width="120" align="center">操作员</th>
                <th field="Status" width="120" align="center">处理状态</th>
                <th field="VerifyPersonName" width="120" align="center">审核人</th>
                <th field="VerifyDate" width="120" align="center">审核日期</th>
                <th field="Description" width="120" align="center">备注</th>
                <th  id="detailformatAction" field="detail" width="80" align="center" formatter="formatAction">商品明细</th>
            </tr>
        </thead>
    </table>
</div>
<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
<table id="infodetails" class="easyui-datagrid" 
        url="/StockIntoSearch/InfoDetails/" border="false" singleSelect="true"
        fit="true"  pagination="true" rownumbers="true">
        <thead>
            @*<tr>
                <th field="ID" width="80" align="center">序号</th>
                <th field="ProductCode" width="100" align="center">产品代码</th>
                <th field="ProductName" width="140" align="center">产品名称</th>
                <th field="CellCode" width="100" align="center">货位编码</th>
                <th field="CellName" width="140" align="center">货位名称</th>
                <th field="UnitCode" width="100" align="center">单位编码</th>
                <th field="UnitName" width="140" align="center">单位名称</th>
                <th field="RealQuantity" width="80" align="center">分配数量</th>
                <th field="Status" width="80" align="center">作业状态</th>
            </tr>*@ 
            <tr>
                <th field="ID" width="80">序号</th>
                <th field="ProductCode" width="80">产品代码</th>
                <th field="ProductName" width="140">产品名称</th>
                <th field="UnitCode" width="80">单位编码</th>
                <th field="UnitName" width="80">单位名称</th>
                <th field="BillQuantity" width="80">数量</th>
                <th field="RealQuantity" width="100">已入库量</th>
                <th field="Price" width="80">单价</th>
                <th field="Description" width="80">备注</th>
            </tr>
        </thead>
    </table>
</div>
@Html.Partial("_Detail") 