<div region="center" split="true" border="false">    
    <table id="masters" class="easyui-datagrid" 
        url="/StockCheckSearch/masters/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="SortOrderNo" width="120" align="center">订单单号</th>
                <th field="SortOrderDate" width="120" align="center">订单日期</th>
                <th field="SortOrderType" width="120" align="center">订单类型</th>
                <th field="CustomerCode" width="120" align="center">客户编号</th>
                <th field="CustomerName" width="120" align="center">客户名称</th>
                <th field="TotalQuantity" width="120" align="center">总数量</th>
                <th field="DetailsQuantity" width="120" align="center">明细数</th>
                <th field="DeliverRoute" width="120" align="center">送货路线</th>
            </tr>
        </thead>
    </table>
</div>
<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
<table id="details" class="easyui-datagrid" 
        url="/StockCheckSearch/Details/" border="false" singleSelect="true"
        fit="true"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="IdNo" width="140" align="center">序号</th>
                <th field="ProduceCode" width="140" align="center">商品代码</th>
                <th field="ProduceName" width="140" align="center">商品名称</th>         
                <th field="Quantity" width="140" align="center">数量</th>
                <th field="Unit" width="140" align="center">单位</th>
                <th field="Price" width="140" align="center">单价</th>
            </tr>
        </thead>
    </table>
</div>