<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid" 
        url="/Distribution/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ProductCode" width="120" align="center">产品编码</th>
                <th field="ProductName" width="140" align="center">产品名称</th>
                <th field="CellCode" width="120" align="center">货位编码</th>
                <th field="CellName" width="120" align="center">货位名称</th>
                <th field="Quantity" width="100" align="center">数量</th>
                <th field="UnitCode" width="120" align="center">单位编码</th>
                <th field="UnitName" width="120" align="center">单位名称</th>
                <th field="StorageTime" width="120" align="center">入库时间</th>
            </tr>
        </thead>
    </table>
</div>