<script type="text/javascript">
    $(function () {
        $('#isBrandActive').combo({
            editable: false,
            panelHeight: 65,
            panelWidth: 130
        });
    })

    function BrandQueryClick() {
        $('#dlg-Brandsearch').dialog('open').dialog('setTitle', '查询品牌信息');
    };

    function selectBrand() {
        var queryBrandParams = $('#brandDetail').datagrid('options').queryParams;
        queryBrandParams.BrandCode = $('#BrandCode').val();
        queryBrandParams.BrandName = $('#BrandName').val();
        queryBrandParams.IsActive = $('#isBrandActive').combo('getValue');
        $('#brandDetail').datagrid('options').queryParams = queryBrandParams;
        $('#brandDetail').datagrid({
            pageNumber: 1,
            pageSize: 10
        });
        $("#brandDetail").datagrid('reload');
        $('#dlg-Brandsearch').dialog('close');
        $('#isBrandActive').combo('setValue', null).combo('setText', '');
        $("#BrandCode").val('');
        $("#BrandName").val('');
        queryBrandParams.IsActive = $('#isBrandActive').combo('getValue');
        queryBrandParams.BrandCode = $('#BrandCode').val();
        queryBrandParams.BrandName = $('#BrandName').val();
    }

</script>

    <div id="dlg-Brandsearch" class="easyui-dialog" modal="true" 
        style="width:300px;height:200px;padding:2px 2px"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >
                    <table width="250">
                      <tr>
                        <td width="60">商品编码</td>
                        <td width="168"><input id="BrandCode" type="text"></td>
                      </tr>
                      <tr>
                        <td width="60">商品名称</td>
                        <td width="168"><input id="BrandName" type="text"></td>
                      </tr>
                      <tr>
                        <td>状态:</td>
                        <td><select id="isBrandActive"class="easyui-combobox" style="width: 130px">
                                <option value=""></option>
                                <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                    </table>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="selectBrand()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-Brandsearch').dialog('close')">取消</a>
</div>


