<script type="text/javascript">
    function SupplierQueryClick() {
        $('#dlg-Suppliersearch').dialog('open').dialog('setTitle', '查询厂商信息');
        $("input[type=text]").attr("value", "");
    };

    function supplierSave() {
        var supplierRow = $('#supplierDetail').datagrid('getSelected');
        if (supplierRow) {
            $('#supplierCode').val(supplierRow.SupplierCode);
            $('#supplierCode2').val(supplierRow.SupplierCode);
            $('#supplierData').dialog('close');
        }
    }
</script>
<div id="supplierData" class="easyui-dialog" modal="true" style="width: 500px; height: 500px;
    padding: 2px 2px" closed="true" buttons="#dlgSupplier-buttons">
    <div split="true" border="false" style="width: 480px; height: 425px">
        <table id="supplierDetail" class="easyui-datagrid" border="false" toolbar="#btn-query"
            singleselect="true" fit="true" fitcolumns="true" pagination="true" rownumbers="true">
            <thead>
                <tr>
                    <th field="SupplierCode" width="80" hidden="true">
                        厂商编码
                    </th>
                    <th field="UniformCode" width="100">
                        统一编码
                    </th>
                    <th field="CustomCode" width="100">
                        自定义编码
                    </th>
                    <th field="SupplierName" width="80">
                        厂商名称
                    </th>
                    <th field="ProvinceName" width="80">
                        省份名称
                    </th>
                    <th field="IsActive" width="80">
                        是否可用
                    </th>
                    <th field="UpdateTime" width="80">
                        更新时间
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="dlgSupplier-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="supplierSave()">确定</a> <a
        href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#supplierData').dialog('close')">
        取消</a>
</div>
<div id="btn-query">
 <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="SupplierQueryClick()" id="SupplierQuery">查询</a> 
</div>
