<script type="text/javascript">
    $(function () {
        $('#changePassword').click(function () {
            $('#dlg-changepassword').dialog('open').dialog('setTitle', '修改密码');
            $('#fm-changepassword').form('clear');
        })
    });

    function save() {
        $('#fm-changepassword').form('submit', {
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.show({
                        title: '成功',
                        msg: result.msg
                    });
                    $('#dlg-changepassword').dialog('close');
                } else {
                    $.messager.show({
                        title: '错误',
                        msg: result.msg
                    });
                }
            }
        });
    }
</script>

    <div id="dlg-changepassword" class="easyui-dialog" modal="true" 
        style="width:310px;height:210px;padding:2px 2px"
        closed="true" buttons="#dlg-buttons-changepassword">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >               	          
		        <form id="fm-changepassword" action="/Account/ChangePassword/" method="post" novalidate>
			        <table>
				        <tr>
					        <td>用户名</td>
				          <td><input name="userName" type="text" style="width:200px" required="true" class="easyui-validatebox"></input></td>
				        </tr>
				        <tr>
					        <td>旧密码</td>
					        <td><input name="password" type="text" style="width:200px" required="true" class="easyui-validatebox"></input></td>
				        </tr>
				        <tr>
					        <td>新密码</td>
					        <td><input name="newPassword" type="text" style="width:200px" required="true" class="easyui-validatebox"></input></td>
				        </tr>
                        <tr>
					        <td>确认密码</td>
					        <td><input name="confirmPassword" type="text" style="width:200px" required="true" class="easyui-validatebox"></input></td>
				        </tr>
			        </table>
		        </form>
			</div>
		</div>
	</div>

    <div id="dlg-buttons-changepassword">
	    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-changepassword').dialog('close')">取消</a>
    </div>
