<script type="text/javascript">
    $(function () {
        $('#details').datagrid({ url: '/SortingOrder/Details/?orderDate=' + getTime() }); //查询主单，根据当天
        $('#details').datagrid({
            onClickRow: function () {
                var row = $('#details').datagrid('getSelected');
                if (row) {
                    $('#sortOrderDetails').datagrid({ url: '/SortingOrder/sortOrderDetails/?OrderID=' + row.OrderID }); //根据主单ID查询细单  
                } else {
                    $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
                }
            }
        })
    });

    function getTime() {
        var d = new Date();
        var vYear = d.getFullYear();
        var vMon = d.getMonth() + 1;
        var vDay = d.getDate();
        var h = d.getHours();
        var m = d.getMinutes();
        t = vYear + "-" + (vMon < 10 ? "0" + vMon : vMon) + "-" + (vDay < 10 ? "0" + vDay : vDay);
        return t;
    }
</script>
<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="OrderID" width="80" >订单编码</th>
                <th field="OrderDate" width="160" >订单日期</th>
                <th field="OrderType" width="160" >订单类别</th>
                <th field="CustomerCode" hidden="true" width="160">客户编码</th>
                <th field="CustomerName" width="160">客户名称</th>
                <th field="QuantitySum" width="160">总数量</th>
                <th field="AmountSum" width="160">总金额</th>
                <th field="DetailNum" width="160">明细数</th>
                <th field="Status" width="160">是否可用</th>
                <th field="Remarks" width="160">备注</th>
            </tr>
        </thead>
    </table>
</div>
<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
   <table class="easyui-datagrid" border="false" singleSelect="true" id="sortOrderDetails"
        fit="true"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="OrderDetailID" width="100" >订单明细编码</th>
                <th field="OrderID" width="100" >订单编码</th>
                <th field="ProductCode" width="80" >商品编码</th>
                <th field="ProductName" width="120">商品名称</th>
                <th field="UnitCode" width="60">单位编码</th>
                <th field="UnitName" width="60">单位名称</th>
                <th field="RealQuantity" width="60" >数量</th>
                <th field="Price" width="80" >单价</th>
                <th field="Amount" width="80">金额</th>
                <th field="UnitQuantity" width="120" hidden="true">转换数量</th>
            </tr>
        </thead>
    </table>
</div>