<script type="text/javascript">
    $(function () {
        $('#details').datagrid({
            onClickRow: function () {
                var row = $('#details').datagrid('getSelected');
                if (row) {
                    $('#sortOrderDetails').datagrid({ url: '/SortingOrder/sortOrderDetails/?OrderID=' + row.OrderID }); //根据主单ID查询细单

                } else {
                    $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
                }
            }
        })
    });  
</script>
<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/SortingOrder/Details/'
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="OrderID" width="100" >订单编码</th>
                <th field="OrderDate" width="160" >订单日期</th>
                <th field="OrderType" width="120" >订单类别</th>
                <th field="CustomerCode" width="120">客户编码</th>
                <th field="CustomerName" width="160">客户名称</th>
                <th field="QuantitySum" width="100">总数量</th>
                <th field="AmountSum" width="100">总金额</th>
                <th field="DetailNum" width="100">明细数</th>
                <th field="IsActive" width="100">是否可用</th>
            </tr>
        </thead>
    </table>
</div>
<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
   <table class="easyui-datagrid" border="false" singleSelect="true" id="sortOrderDetails" url=""
        fit="true" fitColumns="true"  pagination="true" rownumbers="true" >
        <thead>
            <tr>
                <th field="OrderDetailID" width="120" >订单明细编码</th>
                <th field="OrderID" width="120" >订单编码</th>
                <th field="ProductCode" width="120" >商品编码</th>
                <th field="ProductName" width="150">商品名称</th>
                <th field="UnitCode" width="100">单位编码</th>
                <th field="UnitName" width="100">单位名称</th>
                <th field="RealQuantity" width="100" >数量</th>
                <th field="Price" width="100" >单价</th>
                <th field="Amount" width="100">金额</th>
                <th field="UnitQuantity" width="120" hidden="true">转换数量</th>
            </tr>
        </thead>
    </table>
</div>