*{ margin:0; padding:0;}
body{width:100%; height:100%; }

.login
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 98;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -moz-opacity: 0.5;
    filter: alpha(opacity=100);
    background-color: #FFFFFF;
}

.login2 
{
    background: #E0ECFF; 
    position:absolute; 
    z-index:99; top:0; left:0;bottom:0; right:0;    
    -moz-opacity:0.5; filter:alpha(opacity=100);          
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
	font-weight: lighter;
	font-family:"ו";
	background-image: url(../images/bg.gif);
}

 table, tr, td
{
	margin: 0;
	font-size: 12px;
	text-align: left;
}

 input,textarea,select,span.combo
{
	border: 1px solid #A4BED4;
	height: 20px;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

