<script type="text/javascript">
    var url;
    function AddLoad() { 
        $('#isActive_depart').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });

        $('#employee-add').combogrid({
            disabled: false,            
            width: 130,
            panelWidth: 340,
            url: '/Employee/Details/?page=1&rows=10',
            idField: 'ID',
            textField: 'EmployeeName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '员工ID', hidden: true, width: 30 },
					{ field: 'EmployeeCode', title: '员工编码', align: 'left', width: 40 },
					{ field: 'EmployeeName', title: '员工名称', align: 'left', width: 30 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
				]]
        });

        $('#company-add').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/Company/Details/?page=1&rows=10',
            idField: 'ID',
            textField: 'CompanyName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '公司ID', hidden: true, width: 30 },
					{ field: 'CompanyCode', title: '公司编码', align: 'left', width: 40 },
					{ field: 'CompanyName', title: '公司名称', align: 'left', width: 30 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
				]]
        });

        $('#depart-add').combogrid({
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/Department/Details/?page=1&rows=10',
            idField: 'ID',
            textField: 'DepartmentName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '部门ID', hidden: true, width: 30 },
					{ field: 'DepartmentCode', title: '部门编码', align: 'left', width: 40 },
					{ field: 'DepartmentName', title: '部门名称', align: 'left', width: 30 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
				]]
        });
    }

    function addClick() {
        AddLoad();
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#fm').form('clear');
        $('#fm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#isActive_depart').combo({
            hasDownArrow: true
        });
        url = '/Department/Create/';
    };

    function save() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg').dialog('close'); 
                    $('#details').datagrid('reload'); 
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>
    <div id="dlg" class="easyui-dialog" modal="true"  style="width:570px;height:320px;padding:2px 2px"  closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc;" >     
	            <form id="fm" method="post" novalidate>
                    <table width="520">
                      <tr>
                        <td width="60" align="right">部门编码：</td>
                        <td width="168"><input name="DepartmentCode" class="easyui-validatebox" required="true"/><input name="ID" style="display:none"/></td>
                        <td width="60" align="right">部门名称：</td>
                        <td width="168"><input name="DepartmentName" class="easyui-validatebox" required="true"/></td>
                      </tr>
                      <tr>
                       <td  align="right" width="80">负责人名称：</td>
                        <td width="168"><input name="DepartmentLeaderID" id="employee-add"/></td>
                        <td align="right">公司编码：</td>
                        <td width="168"><input name="companyID" id="company-add"/></td>
                      </tr>
                      <tr>
                        <td align="right">上级编码：</td>
                        <td><input name="ParentDepartmentID" id="depart-add"/>
	                    </td>
                        <td align="right">是否可用：</td>
                        <td><select id="isActive_depart" name="IsActive" class="easyui-combobox" style="width: 130px">
		                        <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                      <tr>
                       <td align="right">统一编码：</td>
                        <td width="168" colspan="3">
                        <input name="UniformCode" required="true" type="text" />
                        </td>
                      </tr>
                       <tr>
                       <td width="60" align="right">描述：</td>
                        <td width="168" colspan="3" ><textarea name="Description" style="width: 380px; height: 80px"></textarea> </td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
