<div region="center" split="true" border="false">    
    <table id="masters" class="easyui-datagrid" 
        url="/OverStockProductSearch/Details/" border="false" singleSelect="true" 
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ProductCode" width="120" align="center">产品代码</th>
                <th field="ProductName" width="160" align="center">产品名称</th>
                <th field="PlaceCode" width="120" align="center">货位编码</th>
                <th field="PlaceName" width="120" align="center">货位名称</th>
                <th field="StockQuantity" width="120" align="center">库存数量</th>
                <th field="UnitCode" width="120" align="center">单位编码</th>
                <th field="UnitName" width="120" align="center">单位名称</th>
                <th field="StockIntoDate" width="120" align="center">入库日期</th>
            </tr>
        </thead>
    </table>    
</div>