<script type="text/javascript">
    var url;
    $(function () {
        $('#IsActivecc').combo({
            required: true,
            editable: false,
            panelHeight: 45
        });
        $('#isSortingLineType').combo({
            required: true,
            editable: false,
            panelHeight: 45
        });
    })

    function addClick() {
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#sortingLinefm').form('clear');
        $('#sortingLinefm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#IsActivecc').combo({
            hasDownArrow: true
        });
        $('#isSortingLineType').combo({
            hasDownArrow: true
        });
        url = '/SortingLine/Create/';
    };

    function save() {
        $('#sortingLinefm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.show({
                        title: '成功',
                        msg: result.msg
                    });
                    $('#dlg').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.show({
                        title: '错误',
                        msg: result.msg
                    });
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>
    <div id="dlg" class="easyui-dialog" modal="true"  style="width:300px;height:220px;"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;border:1px solid #ccc; " >     
	            <form id="sortingLinefm" method="post" novalidate>
                    <table width="260">
                     <tr>
                        <td width="80" style="text-align:right">分拣线编码：</td>
                        <td width="160"><input name="SortingLineCode" class="easyui-validatebox" /></td>
                      </tr>
                      <tr>
                        <td width="80" style="text-align:right">分拣线名称：</td>
                        <td width="160"><input name="SortingLineName" class="easyui-validatebox" /></td>
                      </tr>
                      <tr>
                        <td width="80" style="text-align:right">分拣线类型：</td>
                         <td><select id="isSortingLineType" name="SortingLineType" class="easyui-combobox" style="width: 130px">
		                        <option value="1">半自动分拣线</option>
		                        <option value="2">全自动分拣线</option>
	                        </select>
	                    </td>
                      </tr>
                      <tr>
                        <td width="80" style="text-align:right">是否启用：</td>
                        <td><select id="IsActivecc" name="IsActive" class="easyui-combobox" style="width:80px">
		                        <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
