<script type="text/javascript">
    var url;
    function addClick() {
        addLoad();
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#sortingLinefm').form('clear');
        $('#sortingLinefm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#IsActivecc').combo({
            hasDownArrow: true
        });
        $('#isSortingLineType').combo({
            hasDownArrow: true
        });
        url = '/SortingLine/Create/';
    };

    function addLoad() {
        $('#IsActivecc').combo({
            required: true,
            editable: false,
            panelHeight: 45
        });
        $('#isSortingLineType').combo({
            required: true,
            editable: false,
            panelHeight: 45
        });

        //获取单据类型单据类别BillClass=0003为移库单IsActive=1为可用
        $('#moveBillTypeCode').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetBillTypeDetail/?BillClass=0003&IsActive=1',
            idField: 'BillTypeCode',
            textField: 'BillTypeName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'BillTypeCode', title: '订单类型编码', align: 'left', width: 40 },
                    { field: 'BillTypeName', title: '订单类型名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });

        $('#outBillTypeCode').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetBillTypeDetail/?BillClass=0002&IsActive=1',
            idField: 'BillTypeCode',
            textField: 'BillTypeName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'BillTypeCode', title: '订单类型编码', align: 'left', width: 40 },
                    { field: 'BillTypeName', title: '订单类型名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });
    }

    function save() {
        $('#sortingLinefm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>
<div id="dlg" class="easyui-dialog" modal="true" style="width: 300px; height: 320px;"
    closed="true" buttons="#dlg-buttons">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px 10px; border: 1px solid #ccc;">
            <form id="sortingLinefm" method="post">
            <table width="260">
                <tr>
                    <td width="80" style="text-align: right">
                        分拣线编码：
                    </td>
                    <td width="160">
                        <input name="SortingLineCode" class="easyui-validatebox" />
                    </td>
                </tr>
               <tr>
                    <td width="80" style="text-align: right">
                        分拣线名称：
                    </td>
                    <td width="160">
                        <input name="SortingLineName" class="easyui-validatebox" />
                    </td>
                </tr>
                 <tr>
                    <td width="80" style="text-align: right">
                        分拣线类型：
                    </td>
                    <td>
                        <select id="isSortingLineType" name="SortingLineType" class="easyui-combobox" style="width: 130px">
                            <option value="1">半自动分拣线</option>
                            <option value="2">全自动分拣线</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="60" style="text-align: right">
                        出库类型：
                    </td>
                    <td width="168">
                        <input name="OutBillTypeCode" id="outBillTypeCode"/>
                    </td>
                </tr>
                <tr>
                    <td width="60" style="text-align: right">
                        移库类型：
                    </td>
                    <td width="168">
                        <input name="MoveBillTypeCode" id="moveBillTypeCode"  />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        储位编码：
                    </td>
                    <td align="left">
                        <input type="text" name="CellCode" class="easyui-validatebox" readonly="true" missingmessage="请选择储位！" />
                        <a href="#" onclick="javascript:outCellSelect($('input[name=CellCode]'),$('input[name=CellName]'))"
                            class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        储位名称：
                    </td>
                    <td align="left">
                        <input type="text" name="CellName" class="easyui-validatebox" readonly="true" />
                    </td>
                </tr>
                <tr>
                    <td width="80" style="text-align: right">
                        是否启用：
                    </td>
                    <td>
                        <select id="IsActivecc" name="IsActive" class="easyui-combobox" style="width: 80px">
                            <option value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">
        取消</a>
</div>
@Html.Partial("_CellPartial")
