<script type="text/javascript">

    function searchClick() {
        $('#searchdlg').dialog('open').dialog('setTitle', '查询');
        $('#searchfm').form('clear');

        $('#IsActive').combo({
            editable: false,
            panelHeight: 45
        });
        $('#SortingLineType').combo({
            editable: false,
            panelHeight: 45
        });
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.sortingLineCode = $('#SortingLineCode').val();
        queryParams.sortingLineName = $('#SortingLineName').val();
        queryParams.SortingLineType = $('#SortingLineType').combo('getValue');
        queryParams.IsActive = $('#IsActive').combo('getValue');
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 10
        }); 
        $("#details").datagrid('reload');
        $('#searchdlg').dialog('close'); 
    }

</script>
    <div id="searchdlg" class="easyui-dialog" modal="true"  style="width:300px;height:220px;"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;border:1px solid #ccc; " >     
	            <form id="searchfm" method="post" novalidate>
                    <table width="260">
                     <tr>
                        <td width="80" style="text-align:right">分拣线编码：</td>
                        <td width="160"><input id="SortingLineCode" class="easyui-validatebox" /></td>
                      </tr>
                      <tr>
                        <td width="80" style="text-align:right">分拣线名称：</td>
                        <td width="160"><input id="SortingLineName" class="easyui-validatebox" /></td>
                      </tr>
                      <tr>
                        <td width="80" style="text-align:right">分拣线类型：</td>
                         <td><select id="SortingLineType" class="easyui-combobox" style="width: 130px">
		                        <option value="1">半自动分拣线</option>
		                        <option value="2">全自动分拣线</option>
	                        </select>
	                    </td>
                      </tr>
                      <tr>
                        <td width="80" style="text-align:right">是否启用：</td>
                        <td><select  id="IsActive" class="easyui-combobox" style="width:80px">
                                <option value="">请选择</option>
		                        <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#searchdlg').dialog('close')">取消</a>
</div>
