<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/SortingLine/Details/'
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="SortingLineCode" width="120" >分拣线编码</th>
                <th field="SortingLineName" width="160" >分拣线名称</th>
                <th field="SortingLineType" width="160" >分拣线类型</th>
                <th field="OutBillTypeCode" width="120" >出库单类型</th>
                <th field="MoveBillTypeCode" width="120" >移库单类型</th>
                <th field="CellName" width="120" >货位名称</th>
                <th field="IsActive" width="120">是否可用</th>
                <th field="UpdateTime" width="120">修改时间</th>
            </tr>
        </thead>
    </table>
</div>
