body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
	font-weight: lighter;
	font-family:"ו";
	background-image: url(../images/bg.gif);
}

 table, tr, td
{
	margin: 0;
	font-size: 12px;
	text-align: left;
}

 input,textarea,select
{
	border: 1px solid #A4BED4;
	width:120px;
	height: 20px;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	margin: 0;
	padding: 0;
}