<script type="text/javascript">
    $(function () {
        $('#isSupplierActive').combo({
            editable: false,
            panelHeight: 65,
            panelWidth: 130
        });
    })

    function SupplierQueryClick() {
        $('#dlg-Suppliersearch').dialog('open').dialog('setTitle', '查询厂商信息');
    };

    function selectSupplier() {
        var querySupplierParams = $('#supplierDetail').datagrid('options').queryParams;
        querySupplierParams.SupplierCode = $('#SupplierCode').val();
        querySupplierParams.SupplierName = $('#SupplierName').val();
        querySupplierParams.IsActive = $('#isSupplierActive').combo('getValue');
        $('#supplierDetail').datagrid('options').queryParams = querySupplierParams;
        $('#supplierDetail').datagrid({
            pageNumber: 1,
            pageSize: 10
        });
        $("#supplierDetail").datagrid('reload');
        $('#dlg-Suppliersearch').dialog('close');
        $('#isSupplierActive').combo('setValue', null).combo('setText', '');
        $("#SupplierCode").val('');
        $("#SupplierName").val('');
    }

</script>

    <div id="dlg-Suppliersearch" class="easyui-dialog" modal="true" 
        style="width:300px;height:200px;padding:2px 2px"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >
                    <table width="250">
                      <tr>
                        <td width="60">厂商编码</td>
                        <td width="168"><input id="SupplierCode" type="text"></td>
                      </tr>
                      <tr>
                        <td width="60">厂商名称</td>
                        <td width="168"><input id="SupplierName" type="text"></td>
                      </tr>
                      <tr>
                        <td>状态:</td>
                        <td><select id="isSupplierActive"class="easyui-combobox" style="width: 130px">
                                <option value=""></option>
                                <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                    </table>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="selectSupplier()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-Suppliersearch').dialog('close')">取消</a>
</div>


