<script type="text/javascript">
    $(function () {
        
    });
</script>
 
<div region="center" split="true" border="false">    
    <table class="easyui-datagrid" id="details"
        url="/Role/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="RoleID" hidden="true" width="80">角色编码</th>
                <th field="RoleName" width="100">角色名称</th>
                <th field="Description" width="80" align="left">描述</th>
                <th field="Status" width="80" align="left">状态</th>
            </tr>
        </thead>
    </table>
</div>

 


