<script type="text/javascript">
    function UserSaveRoleClick() {
        var row = $('#UserAddRoleDatagrid').datagrid('getSelections');
        if (row.length > 0) {
            var roleString = "";
            for (var i = 0; i < row.length; i++) {
                roleString += row[i].RoleID + ",";
            }
            $.post("/User/AddUserRole/", { userId: userId, roleIDstr: roleString }, function (json) {
                if (json) {
                    $.messager.show({ title: '系统提示', msg: '添加成功！' });
                    $('#UserAddRole').window('close');
                    $('#UserRoleDataGrid').datagrid('options').url = '/User/GetUserRole/?UserID=' + userId;
                    $('#UserRoleDataGrid').datagrid('reload');
                } else {
                    $.messager.show({ title: '系统提示', msg: '添加失败!请检查原因！' });
                }
            });
        } else {
            $.messager.show({ title: '系统提示', msg: '请选择需添加的角色！' });
        }
    }
</script>
<div id="UserAddRole" class="easyui-dialog" modal="true" style="width: 420px; height: 280px;
    padding: 1px 1px" closed="true" buttons="#dlg-buttons">
    <div class="easyui-layout" fit="true">
        <div region="center" style="background: #fff; border: 1px solid #ccc;">
            <table id="UserAddRoleDatagrid" class="easyui-datagrid" idfield="RoleID" border="0px" fit="true">
                <thead>
                    <tr>
                        <th field="ck" checkbox="true"></th>
                        <th field="RoleID" width="180" hidden="true">角色编码</th>
                        <th field="RoleName" width="130">角色名称</th>
                        <th field="Status" width="100">是否可用</th>
                        <th field="Description" width="135">角色描述</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="UserSaveRoleClick()"id='UserSaveRole'>确定</a> 
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#UserAddRole').dialog('close')">取消</a>
</div>
