<script type="text/javascript">
    $(function () {
        $('#CreatPartial').window({
            title: '添加用户',
            width: 600,
            modal: true,
            shadow: false,
            closed: true,
            height: 300,
            //            closable: false,
            resizable: false,
            minimizable: false,
            maximizable: false,
            collapsible: false
        });

        $('#add').click(function () {
            $('#CreatPartial').window('open');
        })

//        $('#f1').form({
//            success: function (data) {
//                if (data == 'true') {
//                    $('#CreatPartial').window('close');
//                } else {
//                    $.messager.confirm('系统提示', '用户登录失败！用户名或密码不正确！', function (r) {

//                    });
//                }
//            }
//        });

        $('#f1').form({
            success: function (data) {
                alert(data);
                                if (data == 'true') {
                                    $('#CreatPartial').window('close');
                                } else {
                                    $.messager.confirm('系统提示','用户添加失败', function (r) {
                                    });
                                }
            }
        });
    });
</script>
    <div id="CreatPartial" class="easyui-window" title="My Window" iconCls="icon icon-users" style="width:500px;height:200px;padding:5px;">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px;background:#fff;border:1px solid #ccc;">
               <div style="width:230px;background:#fafafa;padding:10px;">
		          <div style="padding:3px 2px;border-bottom:1px solid #ccc">Ajax Form</div>
		            <form id="f1" action="/City/Create" method="post">
			            <table>
				            <tr>
					            <td>CityName:</td>
					            <td><input name="CityName" type="text"></input></td>
				            </tr>
				            <tr>
					            <td>IsActive:</td>
					            <td><input name="IsActive" type="text"></input></td>
				            </tr>
	           
				            <tr>
					            <td></td>
					            <td><input type="submit" value="Submit"></input></td>
				            </tr>
			            </table>
		            </form>
	            </div>
			</div>
		</div>
	</div>

