<script type="text/javascript">
    $(function () {
        
    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/City/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="CityID" width="80" hidden="true">地市编码</th>
                <th field="CityName" width="100">地市名称</th>
                <th field="Description" width="80">描述</th>
                <th field="IsActive" width="80">状态</th>
            </tr>
        </thead>
    </table>
</div>

 


