<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">  
    <table id="details" class="easyui-datagrid"
        url="/HistoricalDetail/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="BillDate" width="100">日期</th>
                <th field="WarehouseName" width="100">仓库名称</th>
                <th field="BillNo" width="100">单据编号</th>
                <th field="BillTypeName" width="100">单据业务</th>
                <th field="ProductCode" width="100">产品代码</th>
                <th field="ProductName" width="140">产品名称</th>
                <th field="RealQuantity" width="100">账面数量</th>
                <th field="JQuantity" width="100">数量（自然件）</th>
                <th field="TQuantity" width="100">数量（条）</th>
                <th field="UnitName" width="100">单据单位</th>
            </tr>
        </thead>
    </table>
</div>