<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/UnitList/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="UnitListCode" width="100">计量单位系列编码</th>
                <th field="UnitListName" width="120">计量单位系列名称</th>
                <th field="UnitCode01" width="100">一级单位</th>
                <th field="UnitCode02" width="100">二级单位</th>
                <th field="UnitCode03" width="100">三级单位</th>
                <th field="UnitCode04" width="100">四级单位</th>
                <th field="IsActive" width="80">是否启用</th>
                <th field="UpdateTime" width="100">更新时间</th>
            </tr>
        </thead>
    </table>
</div>