<script type="text/javascript">
    var url;
    var fm;
    function addClick() {
        var divid;
        var addName;
        var row = $('#details').treegrid('getSelected');        
        if (row == null) {
            divid = "ware";
            url = '/Warehouse/WareCreate/';
            addClass("", "");
            addName = "仓库";
        } else if (row.attributes == "cell") {
            $('#dlg').dialog('close');
            alert("货位下不能增加！");
        } else if (row.attributes == "ware") {
            divid = "area";
            url = '/Area/AreaCreate/';
            addClass("wareArea", "");
            addName = "库区";
        } else if (row.attributes == "area") {
            divid = "shelf";
            url = '/Shelf/ShelfCreate/';
            addClass("wareShelf", "areaShelf");
            addName = "货架";
        } else if (row.attributes == "shelf") {
            divid = "cell";
            url = '/Cell/CellCreate/';
            addClass("wareCell", "areaCell");
            addName = "货位";
        }
        fm = divid + "fm";
        $('#dlg').dialog('open').dialog('setTitle', '新增: ' + addName);
        AddShowDiv(divid); //显示div
        $('#' + divid).form('clear');
        $('#' + divid + 'ID').attr("readonly", false);
        addLoad(row); //加载数据
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
    }

    function save() {
        $('#'+fm).form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg').dialog('close');
                    $('#details').treegrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').treegrid('reload');
                }
            }
        });
    }

    function AddShowDiv(divId) {
        $('#' + divId + ' .easyui-validatebox').validatebox({
            required: true
        });       
        $('#ware').css({ display: "none" });
        $('#area').css({ display: "none" });
        $('#shelf').css({ display: "none" });
        $('#cell').css({ display: "none" });
        $('#' + divId).css({ display: "block" });        
    }

    function addClass(ware,area) {
        $('.wareAreaClass').attr('id', "");
        $('.wareShelfClass').attr('id', "");
        $('.wareCellClass').attr('id', "");
        $('.areaShelfClass').attr('id', "");
        $('.areaCellClass').attr('id', "");
        $('.' + ware + 'Class').attr('id', "warehouse-add");
        $('.' + area + 'Class').attr('id', "area-add");        
    }

    function addLoad(row) {

        $('#wareIsActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });
        $('#areaIsActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });
        $('#shelfIsActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });
        $('#cellIsActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });

        $('#isLayer').combo({
            required: true,
            editable: false,
            panelHeight: 65,
            panelWidth: 140
        });
        $('#isVirtual').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });
        $('#isCellType').combo({
            required: true,
            editable: false,
            panelHeight: 65,
            panelWidth: 140
        });

        $('#company-add').combogrid({
            disabled: false,
            width: 140,
            panelWidth: 340,
            url: '/Company/Details/?page=1&rows=10',
            idField: 'CompanyCode',
            textField: 'CompanyName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '公司ID', hidden: true, width: 30 },
					{ field: 'CompanyCode', title: '公司编码', align: 'left', width: 40 },
					{ field: 'CompanyName', title: '公司名称', align: 'left', width: 30 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
				]]
        });

        $('#warehouse-add').combogrid({
            required: true,
            disabled: false,
            width: 140,
            panelWidth: 340,
            url: '/Warehouse/Details/?page=1&rows=10&warehouseCode=' + row.WarehouseCode,
            idField: 'WarehouseCode',
            textField: 'WarehouseName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'WarehouseCode', title: '仓库编码', align: 'left', width: 40 },
					{ field: 'WarehouseName', title: '仓库名称', align: 'left', width: 40 },
                    { field: 'WarehouseType', title: '仓库类型', align: 'left', width: 20 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 20 },
                    { field: 'UpdateTime', title: '时间', align: 'left', width: 30 }
				]]
        });

        $('#area-add').combogrid({
            required: true,
            disabled: false,
            width: 140,
            panelWidth: 340,
            url: '/Area/Details/?warehouseCode=' + row.WarehouseCode + '&areaCode=' + row.AreaCode,
            idField: 'AreaCode',
            textField: 'AreaName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'AreaCode', title: '库区编码', align: 'left', width: 40 },
					{ field: 'AreaName', title: '库区名称', align: 'left', width: 40 },
                    { field: 'AreaType', title: '库区类型', align: 'left', width: 20 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 20 },
                    { field: 'UpdateTime', title: '时间', align: 'left', width: 30 }
				]]
        });

        $('#shelf-add').combogrid({
            required: true,
            disabled: false,
            width: 140,
            panelWidth: 340,
            url: '/Shelf/Details/?warehouseCode=' + row.WarehouseCode + '&areaCode=' + row.AreaCode + '&shelfCode=' + row.ShelfCode,
            idField: 'ShelfCode',
            textField: 'ShelfName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ShelfCode', title: '货架编码', align: 'left', width: 40 },
					{ field: 'ShelfName', title: '货架名称', align: 'left', width: 40 },
                    { field: 'ShelfType', title: '货架类型', align: 'left', width: 20 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 20 },
                    { field: 'UpdateTime', title: '时间', align: 'left', width: 30 }
				]]
        });

        $('#product-add').combogrid({
            disabled: false,
            width: 140,
            panelWidth: 340,
            url: '/Product/Details/?page=1&rows=10',
            idField: 'ProductCode',
            textField: 'ProductName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ProductCode', title: '卷烟编码', align: 'left', width: 40 },
					{ field: 'ProductName', title: '卷烟名称', align: 'left', width: 40 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 20 },
                    { field: 'UpdateTime', title: '时间', align: 'left', width: 30 }
				]]
        });
    }
</script>
<div id="dlg" class="easyui-dialog" modal="true" style="width: 500px; height: 360px;
    padding: 1px 1px" closed="true" buttons="#dlg-buttons">
    <div id="ware" class="easyui-layout" fit="true" style="display: none">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff; border: 1px solid #ccc;">
            <form id="warefm"  method="post">
            <label>
                当前新增页面：仓库</label>
            <table>
                <tr style="height:30px;">
                    <td style=" text-align:right">
                        仓库编码:
                    </td>
                    <td>
                        <input name="WarehouseCode" type="text" id="wareID"  class="easyui-validatebox" style="width: 140px;" />
                    </td>
                    <td style=" text-align:right">
                        仓库名称:
                    </td>
                    <td>
                        <input name="WarehouseName" type="text"  class="easyui-validatebox" style="width: 140px;" />
                    </td>
                </tr>
                <tr style="height:30px;">
                    <td style=" text-align:right">
                        仓库简称:
                    </td>
                    <td>
                        <input name="ShortName" type="text" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                    <td style=" text-align:right">
                        仓库类型:
                    </td>
                    <td>
                        <select name="WarehouseType" id="isWarehouseType" style="width: 140px;">
                            <option selected="selected" value="0">正常库</option>
                            <option value="1">损烟库</option>
                            <option value="2">罚烟库</option>
                        </select>
                    </td>
                </tr>
                <tr style="height:30px;">
                    <td style=" text-align:right">
                        公司编码:
                    </td>
                    <td>
                      <input name="CompanyCode" type="text" id="company-add" style="width: 140px;"/>
                    </td>
                   <td style=" text-align:right">
                        是否启用:
                    </td>
                    <td>
                        <select name="IsActive" id="wareIsActive" class="easyui-combobox" style="width: 141px">
                            <option selected="selected" value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
                <tr style="height:30px;">
                     <td style=" text-align:right">
                        仓库描述:
                    </td>
                    <td colspan="3">
                        <textarea name="Description" style="width: 340px; height: 80px"></textarea>
                    </td>
                </tr>               
            </table>
            </form>
        </div>
    </div>
    <div id="area" class="easyui-layout" fit="true" style="display: none">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="areafm" method="post">
            <label>
                当前新增页面：库区</label>
            <table>
                <tr style="height: 30px;">
                    <td style=" text-align:right">
                        库区编码:
                    </td>
                    <td style="height: 26px">
                        <input name="AreaCode" type="text" id="areaID" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                    <td style=" text-align:right">
                        库区名称:
                    </td>
                    <td style="height: 26px" colspan="3">
                        <input name="AreaName" type="text" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style=" text-align:right">
                        库区简称:
                    </td>
                    <td>
                        <input name="ShortName" type="text" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                    <td style=" text-align:right">
                        库区类型:
                    </td>
                    <td>
                        <select name="AreaType" id="ddlType" style="width: 140px;">
                            <option selected="selected" value="1">主库区</option>
                            <option value="2">件烟区</option>
                            <option value="3">条烟区</option>
                            <option value="4">暂存区</option>
                            <option value="5">备货区</option>
                            <option value="6">残烟区</option>
                            <option value="7">罚烟区</option>
                            <option value="8">虚拟区</option>
                            <option value="9">其他区</option>
                        </select>
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style=" text-align:right">
                        入库分配顺序:
                    </td>
                    <td style="height: 26px">
                        <input name="AllotInOrder" type="text" id="areaID" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                    <td style=" text-align:right">
                        出库分配顺序:
                    </td>
                    <td style="height: 26px" colspan="3">
                        <input name="AllotOutOrder" type="text" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style=" text-align:right">
                        仓库名称:
                    </td>
                    <td>
                        <input name="WarehouseCode" missingmessage="请选择仓库编码" class="wareAreaClass" id="" style="width: 145px;"/>
                    </td>
                    <td style=" text-align:right">
                        是否启用:
                    </td>
                    <td>
                        <select name="IsActive" id="areaIsActive" class="easyui-combobox" style="width: 140px">
                            <option selected="selected" value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
                <tr style="height:30px;">
                     <td style=" text-align:right">
                        仓库描述:
                    </td>
                    <td colspan="3">
                        <textarea name="Description" style="width: 340px; height: 80px"></textarea>
                    </td>
                </tr>    
            </table>
            </form>
        </div>
    </div>
    <div id="shelf" class="easyui-layout" fit="true" style="display: none">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="shelffm"  method="post">
            <label>
                当前新增页面：货架</label>
            <table>
                <tr>
                    <td style=" text-align:right">
                        货架编码:
                    </td>
                    <td align="left">
                        <input name="ShelfCode" type="text" id="shelfID" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                    <td style=" text-align:right">
                        货架名称:
                    </td>
                    <td align="left">
                        <input name="ShelfName" type="text" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        货架简称:
                    </td>
                    <td align="left">
                        <input name="ShortName" type="text" class="easyui-validatebox" style="width: 140px;" />
                    </td>
                    <td style=" text-align:right">
                        货架类别:
                    </td>
                    <td align="left">
                        <select name="ShelfType" id="isShelfType" class="easyui-validatebox" style="width: 140px;">
                            <option selected="selected" value="0">二层货架</option>
                            <option value="1">三层货架</option>
                            <option value="2">四层货架</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        储位行数:
                    </td>
                    <td align="left">
                        <input name="CellRows" class="CellRows" id="" style="width: 140px;"/>
                           
                    </td>
                    <td style=" text-align:right">
                        储位列数:
                    </td>
                    <td align="left">
                       <input name="CellCols" type="text" class="CellCols" id="" style="width: 140px;"/>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        货架图X位置:
                    </td>
                    <td align="left">
                        <input name="ImgX" class="ImgX" id="" style="width: 140px;"/>
                           
                    </td>
                    <td style=" text-align:right">
                        货架图Y位置:
                    </td>
                    <td align="left">
                       <input name="ImgY" type="text" class="ImgY" id="" style="width: 140px;"/>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        仓库名称:
                    </td>
                    <td align="left">
                        <input name="WarehouseCode" missingmessage="请选择仓库编码" class="wareShelfClass" id="" style="width: 140px;"/>
                           
                    </td>
                    <td style=" text-align:right">
                        库区名称:
                    </td>
                    <td align="left">
                       <input name="AreaCode" type="text" missingmessage="请选择库区编码" class="areaShelfClass" id="" style="width: 140px;"/>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        是否可用:
                    </td>
                    <td align="left" style="text-align: left" colspan="3">
                        <select name="IsActive" id="shelfIsActive" class="easyui-combobox" required="true" style="width: 140px">
                            <option selected="selected" value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        描述:
                    </td>
                    <td colspan="3" style="text-align: left">
                        <textarea name="Description" style="width: 340px; height: 80px"></textarea>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
    <div id="cell" class="easyui-layout" fit="true" style="display: none">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="cellfm"  method="post">
            <label>
                当前新增页面：货位</label>
            <table>
                <tr style="height: 20px">
                    <td style=" text-align:right">
                        货位编码:
                    </td>
                    <td align="left">
                        <input name="CellCode" type="text" id="cellID" class="easyui-validatebox" style="width: 140px;"/>
                    </td>
                    <td style=" text-align:right">
                        货位名称:
                    </td>
                    <td align="left">
                        <input name="CellName" type="text" class="easyui-validatebox" style="width: 140px;"/>
                    </td>
                </tr>
                <tr style="height: 20px">
                    <td style=" text-align:right">
                        货位简称:
                    </td>
                    <td align="left">
                        <input name="ShortName" type="text"class="easyui-validatebox" style="width: 140px;"/>
                    </td>
                    <td style=" text-align:right">
                        RFID:
                    </td>
                    <td colspan="3" style="text-align: left">
                        <input name="Rfid" type="text"style="width: 140px;"/>
                    </td>
                 </tr>
                <tr style="height: 20px">
                   <td style=" text-align:right">
                        预设最大储量:
                    </td>
                    <td align="left">
                        <input name="MaxQuantity" type="text" required="true" id="txtUnitCode" class="easyui-numberbox" missingmessage="请输入最大值（必须为数字）"style="width: 140px;"/>
                    </td>
                     <td style=" text-align:right">
                        储位列号:
                    </td>
                    <td colspan="3" style="text-align: left">
                        <input name="Col" type="text" class="easyui-validatebox" style="width: 140px;"/>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        货位图X位置:
                    </td>
                    <td align="left">
                        <input name="ImgX" class="ImgX" id="" style="width: 140px;"/>
                           
                    </td>
                    <td style=" text-align:right">
                        货位图Y位置:
                    </td>
                    <td align="left">
                       <input name="ImgY" type="text" class="ImgY" id="" style="width: 140px;"/>
                    </td>
                </tr>
                 <tr>
                    <td style=" text-align:right">
                        仓库名称:
                    </td>
                    <td align="left">
                        <input name="WarehouseCode" missingmessage="请选择仓库编码" class="wareCellClass"  id="" style="width: 140px;"/>
                           
                    </td>
                    <td style=" text-align:right">
                        库区名称:
                    </td>
                    <td align="left">
                       <input name="AreaCode" type="text" missingmessage="请选择库区编码" class="areaCellClass" id="" style="width: 140px;"/>
                    </td>
                </tr>
                <tr style="height: 20px">
                 <td style=" text-align:right">
                        货架名称:
                    </td>
                    <td align="left">
                       <input name="ShelfCode" type="text" missingmessage="请选择货架编码" id="shelf-add" style="width: 140px;"/>
                    </td>
                    <td style=" text-align:right">
                        指定卷烟:
                    </td>
                    <td align="left">
                        <input name="DefaultProductCode" type="text" id="product-add" style="width: 140px;"/>
                    </td>
                </tr>
                <tr style="height: 20px">
                    <td style=" text-align:right">
                        货层位置:
                    </td>
                    <td align="left">
                        <select name="Layer" id="isLayer" class="easyui-combobox" required="true" style="width: 140px">
                            <option value="1">一层</option>
                            <option value="2">二层</option>
                            <option value="3">三层</option>
                        </select>
                    </td>                    
                    <td style=" text-align:right">
                        是否单一货位:
                    </td>
                    <td align="left">
                        <select name="IsSingle" id="isVirtual" class="easyui-combobox" required="true" style="width: 140px">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
                <tr style="height: 20px">
                    <td style=" text-align:right">
                        货位类别:
                    </td>
                    <td align="left">
                        <select name="CellType" id="isCellType" style="width: 140px;" class="easyui-combobox" required="true">
                            <option value="0">标准货位</option>
                            <option value="1">异型货位</option>
                        </select>
                    </td>
                    <td style=" text-align:right">
                        是否可用:
                    </td>
                    <td align="left"  colspan="3">
                        <select name="IsActive" id="cellIsActive" class="easyui-combobox" required="true" style="width: 140px">
                            <option selected="selected" value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
                <tr style="height: 20px">
                  <td style=" text-align:right">
                        描述:
                    </td>
                    <td colspan="3" style="text-align: left">
                        <textarea name="Description" style="width: 360px; height: 50px"></textarea>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">
        取消</a>
</div>
