
<body class="easyui-layout">  
    <div region="west" split="true" title="West" style="width:150px;">
     <ul id="warehouseTree" style="text-align: left;" class="easyui-tree" checkbox="false" onclick="treeClick()"
                url='/Module/GetUserSystemDetails?userID=0957e002-a708-40e4-8a8b-2da8399f8b60&cityID=eb2c819b-473d-4f4d-b16c-87f1db1d084f&systemID=233d3973-5a76-447e-aa6b-f139dbf70f16'>
            </ul>
    
    </div>  
    <div region="center" title="center title" style="padding:5px;">
        <table  class="easyui-datagrid"
        url="/City/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="CityID" width="80" hidden="true">地市编码</th>
                <th field="CityName" width="100">地市名称</th>
                <th field="Description" width="80">描述</th>
                <th field="IsActive" width="80">状态</th>
            </tr>
        </thead>
    </table>
    
    
    </div>  
</body>  
