<script type="text/javascript">
    var url;
    $(function () {
        $('#cc').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth:100
        });
    })

    function addClick() {
        $('#dlg').dialog('open').dialog('setTitle', '新增厂商信息');
        $('#supplierCode').attr("readonly", false);
        $('#fm').form('clear');
        $('#fm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#cc').combo({
            hasDownArrow: true
        });
        url = '/Supplier/Create/';
    };

    function save() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>

    <div id="dlg" class="easyui-dialog" modal="true" 
        style="width:265px;height:250px;padding:2px 2px"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >     
	            <form id="fm" method="post" novalidate>
                    <table width="235">
                      <tr>
                        <td width="60">厂商编码</td>
                        <td width="168"><input name="SupplierCode" id="supplierCode" class="easyui-validatebox" required="true"></td>
                      </tr>
                      <tr>
                        <td width="60">统一编码</td>
                        <td width="168"><input name="UniformCode"></td>
                      </tr>
                      <tr>
                        <td width="60">自定义编码</td>
                        <td width="168"><input name="CustomCode"></td>
                      </tr>
                      <tr>
                        <td width="60">厂商名称</td>
                        <td width="168"><input name="SupplierName" class="easyui-validatebox" required="true"></td>
                      </tr>
                      <tr>
                        <td width="60">省份名称</td>
                        <td width="168"><input name="ProvinceName"></td>
                      </tr>
                      <tr>
                        <td>状态:</td>
                        <td><select id="cc" name="IsActive" class="easyui-combobox" style="width: 100px">
		                        <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>

