<script type="text/javascript">
    var url;
    var editType;
    function addClick() {
        editType = 'add';
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#productCode').attr("readonly", true);
        $('#productName').attr("readonly", true);
        $('#productTree').tree({ url: '/Cell/GetCheckDetails/' }); //加载树形数据
    }
    function productSearchClick() {
        $('#productData').dialog('open').dialog('setTitle', '选择卷烟信息');
        $('#productDetail').datagrid({ url: '/DefaultProductSet/LoadProduct/' });
        $("#productDetail").datagrid('reload');
    }

    function enterSave() {
        var ware = "", area = "", shelf = "", cell = "";
        var areaChildren, shelfChildren, cellChildren;
        //根节点集合
        var roots = $('#productTree').tree('getRoots'); 

        //仓库
        for (i = 0; i < roots.length; i++) {
            if (roots[i].attributes == "ware" && roots[i].checked == true) {
                ware += roots[i].id + ",";
            }
            else {
                areaChildren = $('#productTree').tree('getChildren', roots[i].target);
                //库区
                for (j = 0; j < areaChildren.length; j++) {
                    if (areaChildren[j].attributes == "area" && areaChildren[j].checked == true) {
                        area += areaChildren[j].id + ",";
                    }
                    else {
                        shelfChildren = $('#productTree').tree('getChildren', areaChildren[j].target);
                        //货架
                        for (h = 0; h < shelfChildren.length; h++) {
                            if (shelfChildren[h].attributes == "shelf" && shelfChildren[h].checked == true) {
                                shelf += shelfChildren[h].id + ",";
                            }
                            else {
                                cellChildren = $('#productTree').tree('getChildren', shelfChildren[h].target);
                                //货位
                                for (k = 0; k < cellChildren.length; k++) {
                                    if (cellChildren[k].attributes == "cell" && cellChildren[k].checked == true) {
                                        cell += cellChildren[k].id + "," + cellChildren[k].checked + ",";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        if ((ware != "" || area != "" || shelf != "" || cell != "") 
            && ($('#productCode').val() != "")) {
            $.ajaxSender.send('/DefaultProductSet/CellInsertCode/',
                        {
                            'wareCodes': ware,
                            'areaCodes': area,
                            'shelfCodes': shelf,
                            'cellCodes': cell,
                            'defaultProductCode': $("#productCode").val(),
                            'editType': editType
                        },
                        function (data) {
                            $('#details').datagrid('reload');
                            $("#productCode").attr("value", "");
                            $("#productName").attr("value", "");
                            $('#dlg').dialog('close');
                        });
        }
        else {
            $.messager.show({ title: '系统信息', msg: '保存失败！输入的信息不完整！' });
        }
    }    
</script>
<div id="dlg" class="easyui-dialog" modal="true" style="width: 800px; height: 500px;
    padding: 1px 1px" closed="true" buttons="#dlg-buttons">
    <div class="easyui-tabs" fit="true">
        <div id="product" title="货位视图">
            <div class="easyui-layout" fit="true">
                <div id="sidebar" region="west" border="false" style="width: 220px; border-right-style: solid;
                    border-right-width: 1px; border-right-color: #99BBE8;">
                    <ul id="productTree" class="easyui-tree" checkbox="true" url=''>
                    </ul>
                </div>
                <div id="main" region="center" fit="true" border="false" style="margin: 10px 10px 10px 10px;">
                    <div style="padding: 3px 3px 3px 3px;">
                        <div style="float: left; margin-top: 5px; margin-right: 2px;">
                            卷烟编码:
                        </div>
                        <div>
                            <input id="productCode" name="DefaultProductCode" type="text" class="easyui-validatebox"
                                style="width: 140px;" missingmessage="必填" required="true" />
                            <a href="#" id="productSearch" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                                onclick="productSearchClick()"></a>
                        </div>
                    </div>
                    <div style="padding: 3px 3px 3px 3px;">
                        <div style="float: left; margin-top: 5px; margin-right: 2px;">
                            卷烟名称:
                        </div>
                        <div>
                            <input id="productName" type="text" class="easyui-validatebox" style="width: 140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="enterSave()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
@Html.Partial("_ProductPartial")
