<script type="text/javascript">
    var url;
    var fm
    function addClick() {
        url = '/DefaultProductSet/ProductCreate/';
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#productFm').form('clear');
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#productCode').attr("readonly", true);
        $('#productName').attr("readonly", true);
    }
    function productSearchClick() {
        $('#productSearch').datagrid({
            url: '/DefaultProductSet/FindProduct/ '
        });
        $("#productSearch").datagrid('reload');
    }

    function save() {
        $('#productFm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.show({
                        title: '成功',
                        msg: result.msg
                    });
                    $('#dlg').dialog('close');
                    $('#details').treegrid('reload');
                } else {
                    $.messager.show({
                        title: '错误',
                        msg: result.msg
                    });
                    $('#details').treegrid('reload');
                }
            }
        });
    }
    function productSearchClick() {
        $('#productData').dialog('open').dialog('setTitle', '选择卷烟信息');
        $('#productDetail').datagrid({ url: '/DefaultProductSet/LoadProduct/' });
        $("#productDetail").datagrid('reload');
    }
    function searchQuntityClick() {
        $('#productTree').dialog('open').dialog('setTitle', '货位信息');
        $('#goodscountTree').tree({ url: '/Cell/GetCheckDetails/' }); //加载树形数据
    }

</script>
<div id="dlg" class="easyui-dialog" modal="true" style="width: 500px; height: 360px;
    padding: 1px 1px" closed="true" buttons="#dlg-buttons">
    <div id="product" class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="productFm" method="post">
            <label>
                当前新增页面：卷烟</label>
            <div style="margin-top: 10px;">
                <div style="padding: 10px 10px 10px 10px;">
                    <div style="float: left; margin-top: 5px; margin-right: 2px;">
                        卷烟编码:
                    </div>
                    <div>
                        <input id="productCode" name="ProductCode" type="text" class="easyui-validatebox"
                            style="width: 140px;" />
                        <a href="#" id="productSearch" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                            onclick="productSearchClick()">浏览</a>
                    </div>
                </div>
                <div style="padding: 10px 10px 10px 10px;">
                    <div style="float: left; margin-top: 5px; margin-right: 2px;">
                        卷烟名称:
                    </div>
                    <div>
                        <input id="productName" type="text" class="easyui-validatebox" style="width: 140px;" />
                    </div>
                </div>
                <div style="padding: 10px 10px 10px 10px;">
                    <div style="float: left; margin-top: 5px; margin-right: 2px;">
                        货位数量:
                    </div>
                    <div>
                        <input id="productQuantity" type="text" class="easyui-validatebox" style="width: 140px;" />
                        <a href="#" id="searchQuntity" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                            onclick="searchQuntityClick()">浏览</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">
        取消</a>
</div>
@Html.Partial("_ProductPartial")
@Html.Partial("_GoodsCount")
