<script type="text/javascript">
    $(function () {
        
    });
</script>

<div region="center" split="true" border="false" >
    <table id="details" class="easyui-treegrid" border="false" 
   			url="/Cell/Details/" rownumbers="true" singleSelect="true"
    		idField="Code" treeField="Name" toolbar="#tool" pagination="false" fit="true">
		<thead>
			<tr>
                <th field="Code" hidden="true" width="50">编码</th>
                <th field="SmoteName" width="200" align="left" iconCls="icon">烟草名称</th>
				<th field="SmoteType" width="200" align="left" iconCls="icon">烟草类型</th>
			</tr>
		</thead>
	</table>
</div>
