<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>       
    <link href="/Content/Scripts/jquery-easyui-1.2.6/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="/Content/themes/base/css/css.css" rel="stylesheet" type="text/css" />
    <link href="/Content/themes/base/icon.css" rel="stylesheet" type="text/css" />
    <script src="/Content/Scripts/jquery-easyui-1.2.6/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/Content/Scripts/jquery-easyui-1.2.6/jquery.easyui.min.js" type="text/javascript"></script>    
    <script src="/Content/Scripts/jquery-easyui-1.2.6/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="/Content/Scripts/jquery.json.js" type="text/javascript"></script>
    <script src="/Content/Scripts/jquery.ajaxsetup.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.signalR-0.5.2.min.js" type="text/javascript"></script>
    <script src="/Content/Scripts/jquery.asyncProcessing.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.ztree.all-3.3.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(window).resize(function () {
                $('#layout-function').layout('panel', 'center').panel('resize');
            });
            $('#layout-function').layout('panel', 'center').panel({ onResize: function (width, height) {
                $('#layout-content').css('height', $('#layout-function').height() - $('#toolbars').height() - 3);
                $('#layout-content').layout('panel', 'south').panel({ height: $('#layout-content').height() / 2 });
                $('#layout-content').layout('resize');
            }
            });
            $('#layout-content').css('height', $('#layout-function').height() - $('#toolbars').height() - 3);
            $('#layout-content').layout('panel', 'south').panel({ height: $('#layout-content').height() / 2 });
            $('#layout-content').layout('resize');

            $('a.easyui-linkbutton[fun="true"]').linkbutton({
                disabled: true,
                iconCls: 'icon-none'
            });
            $.getJSON("/Home/GetFun/?ModuleID=@ViewBag.ModuleID&t=" + new Date(), function (result) {
                if (result.funs) {
                    $.each(result.funs, function (i, n) {
                        $('#' + n.funname).linkbutton({
                            disabled: !n.isActive,
                            iconCls: n.iconCls
                        }).click(function () {
                            if (n.isActive) {
                                eval(n.funname + "Click('" + n.funid + "')");
                            }
                        });
                    });
                }
            });
        });
    </script>
</head>
<body id="layout-function" class="easyui-layout" fit="true" >
    <div region="center" split="true" border="false"> 
        @Html.Partial("_ToolPartial") 
        <div id="layout-content" class="easyui-layout">   
            @RenderBody()
        </div>        
    </div>
    @Html.Partial("_FunctionPartial")  
</body>
</html>
