<div id="toolbars" class="datagrid-toolbar" style="width: auto; height: auto; background-color: #FFFFFF;">
    @if (ViewBag.hasSearch != null && ViewBag.hasSearch)
    {<a id="search" href="#" class="easyui-linkbutton" plain="true" fun="true">查询</a>}
    @if (ViewBag.hasBalance != null && ViewBag.hasBalance)
    {<a id="balance" href="#" class="easyui-linkbutton" plain="true" fun="true">日结</a>}
    @if (ViewBag.hasAdd != null && ViewBag.hasAdd)
    {<a id="add" href="#" class="easyui-linkbutton" plain="true" fun="true">新增</a>}
    @if (ViewBag.hasEdit != null && ViewBag.hasEdit)
    {<a id="edit" href="#" class="easyui-linkbutton" plain="true" fun="true">编辑</a>}
    @if (ViewBag.hasDelete != null && ViewBag.hasDelete)
    {<a id="delete" href="#" class="easyui-linkbutton" plain="true" fun="true">删除</a>}
    @if (ViewBag.hasSave != null && ViewBag.hasSave)
    {<a id="save" href="#" class="easyui-linkbutton" plain="true" fun="true">保存</a>}
    @if (ViewBag.hasFunctionAdmin != null && ViewBag.hasFunctionAdmin)
    {<a id="functionadmin" href="#" class="easyui-linkbutton" plain="true" fun="true">功能</a>}
    @if (ViewBag.hasPermissionAdmin != null && ViewBag.hasPermissionAdmin)
    { <a id="permissionadmin" href="#" class="easyui-linkbutton"  plain="true" fun="true">权限</a>}
    @if (ViewBag.hasRoleAdmin != null && ViewBag.hasRoleAdmin)
    {<a id="roleadmin" href="#" class="easyui-linkbutton" plain="true" fun="true">角色</a>}
    @if (ViewBag.hasUserAdmin != null && ViewBag.hasUserAdmin)
    {<a id="useradmin" href="#" class="easyui-linkbutton" plain="true" fun="true">用户</a>}
    @if (ViewBag.hasAuthorize != null && ViewBag.hasAuthorize)
    {<a id="authorize" href="#" class="easyui-linkbutton" plain="true" fun="true">授权</a>}                                                                                               
    @if (ViewBag.hasImport != null && ViewBag.hasImport)
    {<a id="import" href="#" class="easyui-linkbutton" plain="true" fun="true">导入</a>}
    @if (ViewBag.hasExport != null && ViewBag.hasExport)
    {<a id="export" href="#" class="easyui-linkbutton" plain="true" fun="true">导出</a>}
    @if (ViewBag.hasDownload != null && ViewBag.hasDownload)
    {<a id="download" href="#" class="easyui-linkbutton" plain="true" fun="true">下载</a>}                                                                                              
    @if (ViewBag.hasAudit != null && ViewBag.hasAudit)
    {<a id="audit" href="#" class="easyui-linkbutton"  plain="true" fun="true">审核</a>}
    @if (ViewBag.hasAntiTrial != null && ViewBag.hasAntiTrial)
    {<a id="antitrial" href="#" class="easyui-linkbutton"  plain="true" fun="true">反审</a>}
    @if (ViewBag.hasAllot != null && ViewBag.hasAllot)
    {<a id="allot" href="#" class="easyui-linkbutton" plain="true" fun="true">分配</a>}
    @if (ViewBag.hasConfirm != null && ViewBag.hasConfirm)
    {<a id="confirm" href="#" class="easyui-linkbutton"  plain="true" fun="true">确认</a>}
    @if (ViewBag.hasAntiConfirm != null && ViewBag.hasAntiConfirm)
    {<a id="anticonfirm" href="#" class="easyui-linkbutton"  plain="true" fun="true">反确认</a>}
    @if (ViewBag.hasSettle != null && ViewBag.hasSettle)
    {<a id="settle" href="#" class="easyui-linkbutton"  plain="true" fun="true">结单</a>}                                                                                                        
    @if (ViewBag.hasPrint != null && ViewBag.hasPrint)
    {<a id="print" href="#" class="easyui-linkbutton"  plain="true" fun="true">打印</a>}
    @if (ViewBag.hasHelp != null && ViewBag.hasHelp)
    {<a id="help" href="#" class="easyui-linkbutton"  plain="true" fun="true">帮助</a>}                                                                                                                                                                                                                                                                                               
</div>                                  
