<script type="text/javascript">
    var url;
    $(function () {
        $('#isActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 100
        });
    })

    function unitSelect1() {
        $('#unitData1').dialog('open').dialog('setTitle', '选择一级单位');
        $('#unitDetail1').datagrid({ url: '/Unit/Details/' });
        $("#unitDetail1").datagrid('reload');
    }
    function unitSelect2() {
        $('#unitData2').dialog('open').dialog('setTitle', '选择二级单位');
        $('#unitDetail2').datagrid({ url: '/Unit/Details/' });
        $("#unitDetail2").datagrid('reload');
    }
    function unitSelect3() {
        $('#unitData3').dialog('open').dialog('setTitle', '选择三级单位');
        $('#unitDetail3').datagrid({ url: '/Unit/Details/' });
        $("#unitDetail3").datagrid('reload');
    }
    function unitSelect4() {
        $('#unitData4').dialog('open').dialog('setTitle', '选择四级单位');
        $('#unitDetail4').datagrid({ url: '/Unit/Details/' });
        $("#unitDetail4").datagrid('reload');
    }

    function addClick() {
        $('#dlg-add').dialog('open').dialog('setTitle', '新增单位系列信息');
        $('#unitListCode').attr("readonly", false);
        $('#fm-add').form('clear');
        $('#fm-add .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('#IsActive').combo({
            hasDownArrow: true
        });
        url = '/UnitList/Create/';
    };

    function save() {
        $('#fm-add').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.show({
                        title: '成功',
                        msg: result.msg
                    });
                    $('#dlg-add').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.show({
                        title: '错误',
                        msg: result.msg
                    });
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>
<div id="dlg-add" class="easyui-dialog" modal="true" style="width:280px;height:320px;padding:2px 2px"
		closed="true" buttons="#dlg-buttons-add">
    <div class="easyui-layout" fit="true">
		<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " > 
            <form id="fm-add" method="post" novalidate>  
                <table align="left" width="250">    
                 <tr>
                    <td width="100">计量单位系列编码:</td>
                    <td><input id="UnitListCode" name="UnitListCode" type="text" style="width: 100px"></td>
                  </tr>
                  <tr>
                    <td width="100">计量单位系列名称:</td>
                    <td><input id="unitListName" name="UnitListName" type="text" style="width: 100px"></td>
                  </tr>
                  <tr>
                    <td width="100">一级单位（件）:</td>
                    <td><input name="unitCode01" id="unitCode01" type="text" style="width: 100px"">
                        <a href="#" onclick="unitSelect1()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                    </td>
                  </tr> 
                  <tr>
                    <td width="100">二级单位（条）:</td>
                    <td><input name="unitCode02" id="unitCode02" type="text" style="width: 100px"">
                        <a href="#" onclick="unitSelect2()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                        </td>
                  </tr>
                  <tr>
                    <td width="100">三级单位（包）:</td>
                    <td><input name="unitCode03" id="unitCode03" type="text" style="width: 100px"">
                        <a href="#" onclick="unitSelect3()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                    </td>
                  </tr>
                  <tr>
                    <td width="100">四级单位（支）:</td>
                    <td><input name="unitCode04" id="unitCode04" type="text" style="width: 100px"">
                        <a href="#" onclick="unitSelect4()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                    </td>
                  </tr>
                  <tr> 
                    <td width="60">统一编码:</td>
                    <td><input id="uniformCode" name="UniformCode" type="text" style="width: 100px"></td>
                   </tr>
                   <tr> 
                    <td width="60">是否可用:</td>
                    <td><select id="isActive" name="IsActive" class="easyui-combobox" style="width: 100px">
                      <option value="">请选择</option>
                      <option value="1">可用</option>
                      <option value="0">不可用</option>
                     </select></td>
                   </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<div id="dlg-buttons-add">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-add').dialog('close')">取消</a>
</div>

