<script type="text/javascript">
    $(function () {
        $('#isUnitActive').combo({
            editable: false,
            panelHeight: 65,
            panelWidth: 130
        });
    })

    function UnitQueryClick() {
        $('#dlg-Unitsearch').dialog('open').dialog('setTitle', '查询单位信息');
    };

    function selectUnit(1) {
        var queryUnitParams = $('#unitDetail').datagrid('options').queryParams;
        queryUnitParams.UnitCode = $('#UnitCode').val();
        queryUnitParams.UnitName = $('#UnitName').val();
        queryUnitParams.IsActive = $('#isUnitActive').combo('getValue');
        $('#unitDetail').datagrid('options').queryParams = queryUnitParams;
        $('#unitDetail').datagrid({
            pageNumber: 1,
            pageSize: 10
        });
        $("#unitDetail").datagrid('reload');
        $('#dlg-Unitsearch').dialog('close');
        $('#isUnitActive').combo('setValue', null).combo('setText', '');
        $("#UnitCode").val('');
        $("#UnitName").val('');
        queryUnitParams.UnitCode = $('#UnitCode').val();
        queryUnitParams.UnitName = $('#UnitName').val();
        queryUnitParams.IsActive = $('#isUnitActive').combo('getValue');
    }

</script>

    <div id="dlg-Unitsearch" class="easyui-dialog" modal="true" 
        style="width:300px;height:200px;padding:2px 2px"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >
                    <table width="250" >
                      <tr>
                        <td width="60">单位编码</td>
                        <td width="168"><input id="UnitCode" type="text"></td>
                      </tr>
                      <tr>
                        <td width="60">单位名称</td>
                        <td width="168"><input id="UnitName" type="text"></td>
                      </tr>
                      <tr>
                        <td>状态:</td>
                        <td><select id="isUnitActive"class="easyui-combobox" style="width: 130px">
                                <option value=""></option>
                                <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>
                    </table>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="selectUnit()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-Unitsearch').dialog('close')">取消</a>
</div>



