<script type="text/javascript">
    $(function () {

    });
</script>

<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/UnitList/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="UnitListCode" width="100">计量单位系列编码</th>
                <th field="UnitListName" width="100">计量单位系列名称</th>
                @*<th field="Unit01" width="100">一级单位（件）</th>
                <th field="Unit02" width="100">二级单位（条）</th>
                <th field="Unit03" width="100">三级单位（包）</th>
                <th field="Unit04" width="100">四级单位（支）</th>*@
                <th field="UnitCode01" width="60">件单位编码</th>
                <th field="UnitName01" width="60">件单位名称</th>
                <th field="UnitCode02" width="60">条单位编码</th>
                <th field="UnitName02" width="60">条单位名称</th>
                <th field="UnitCode03" width="60">包单位编码</th>
                <th field="UnitName03" width="60">包单位名称</th>
                <th field="UnitCode04" width="60">支单位编码</th>
                <th field="UnitName04" width="60">支单位名称</th>
                <th field="IsActive" width="60">是否启用</th>
                <th field="UpdateTime" width="100">更新时间</th>
            </tr>
        </thead>
    </table>
</div>