<script type="text/javascript">
    var url;
    var detailUrl;
    var billno;
    var isShowInBillDetail; //true 表示可以弹出明细添加窗口，false 表示提交主表单据失败，不能弹出明细添加窗体
    var isInBillMasterAdd; //true 表示可以提交主表单据，false不能提交主表单据

    function DataLoad() {
        $('#wareHouseadd').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetWareHouseDetail/?IsActive=1',
            idField: 'WarehouseCode',
            textField: 'WarehouseName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'WarehouseCode', title: '仓库编码', align: 'left', width: 40 },
                    { field: 'WarehouseName', title: '仓库名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });

        $('#biiTypeadd').combogrid({
            required: true,
            disabled:false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetBillTypeDetail/?BillClass=0001&IsActive=1',
            idField: 'BillTypeCode',
            textField: 'BillTypeName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'BillTypeCode', title: '订单类型编码', align: 'left', width: 40 },
                    { field: 'BillTypeName', title: '订单类型名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });
    }

    function getTime() {
        var d = new Date();
        var vYear = d.getFullYear();
        var vMon = d.getMonth() + 1;
        var vDay = d.getDate();
        var h = d.getHours();
        var m = d.getMinutes();
        t = vYear + "-" + (vMon < 10 ? "0" + vMon : vMon) + "-" + (vDay < 10 ? "0" + vDay : vDay) + " " + (h < 10 ? "0" + h : h) + ":" + (m < 10 ? "0" + m : m);
        return t;
    }

    function addClick() {
        isShowInBillDetail = false;
        isInBillMasterAdd = true;
        $('#billNo').attr("readonly", true);
        $('#billDate').attr("readonly", true);
        DataLoad();
        $.getJSON("/StockInBill/GenInBillNo/", function (json) {
            if (json) {
                $('#inBillDetail').datagrid('loadData', { total: 0, rows: [] }); //清空细单
                $('#dlg').dialog('open').dialog('setTitle', '新增入库订单');
                $('#fm').form('clear');
                $('#billNo').val(json.BillNo);
                $('#operatePersonID').val(json.employeeID);
                $('#operatePersonName').val(json.employeeName);
                billno = json.BillNo;
                $('#billDate').val(getTime());
                $('#fm .easyui-validatebox').validatebox({
                    required: true
                });
                $('form input').removeAttr("disabled");
                $('form textarea').removeAttr("disabled");
                $('#btnAddBillDetail').css('display', 'inline'); //设置新增明细按钮的可见性
                $('#btnDeleteBillDetail').css('display', 'inline'); //设置删除明细按钮的可见性
                $('#btnEditBillDetail').css('display', 'inline'); //设置修改明细按钮的可见性
                $('#cc').combo({
                    hasDownArrow: true
                });
                url = '/StockInBill/Create/';
                detailUrl = '/StockInBill/InBillDetailCreate/';
            } else {
                $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
            }
        });
    };

    //新增入库库明细按钮
    function addBillDetailClick() {
        inBillMasterSave();
        if (isShowInBillDetail) {
            inBillDetailShow();
        }
    };

    //显示入库细单新增页面
    function inBillDetailShow() {
        $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '新增入库订单明细');
        $('#fm-inBillDetail').form('clear');
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        detailUrl = '/StockInBill/InBillDetailCreate/';
        $('#detailBillNo').val(billno);
        $('#detailBillNo').attr("readonly", true);
    }

    //单击添加细表保存主表单据
    function inBillMasterSave() {
        if (isInBillMasterAdd) {//判断是否可以添加主单
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.success) {
                        url = '/StockInBill/Edit/';
                        isShowInBillDetail = true;
                        isInBillMasterAdd = false;
                        $.messager.confirm(g_MsgBoxTitle, '入库主单' + result.msg + '<br />' + '是否添加细单？', function (r) {
                            if (r) {
                                inBillDetailShow();
                            }
                        });
                        $('#details').datagrid('reload');
                    } else {
                        $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                        $('#details').datagrid('reload');
                    }
                }
            });
        }
    }

    //保存入库主单
    function save() {
        if (isInBillMasterAdd == false) {//false 表示主表未保存
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.success) {
                        $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                        $('#dlg').dialog('close');
                        $('#details').datagrid('reload');
                        $('#inBillDetails').datagrid('load');
                    } else {
                        $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                        $('#details').datagrid('reload');
                    }
                }
            });
        }
        else{
            inBillMasterSave();
            $('#dlg-AddBillDetail').dialog('close');
        }
         $('#inBillDetails').datagrid('loadData', { total: 0, rows: [] }); //清空细单
    }

    //保存入库细单
    function DetailSave() {
        $('#fm-inBillDetail .easyui-validatebox').validatebox({
            required: true
        });
        $('#fm-inBillDetail').form('submit', {
            url: detailUrl,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg-AddBillDetail').dialog('close');
                    $('#inBillDetail').datagrid({ url: '/StockInBill/InBillDetails/?BillNo=' + billno });
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#inBillDetail').datagrid('reload');
                }
            }
        });
    }

    //删除入库单明细
    function deleteBillDetailClick() {
        var detailRow = $('#inBillDetail').datagrid('getSelected');
        if (detailRow) {
            $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '删除入库细表信息');
            $('#fm-inBillDetail .easyui-validatebox').validatebox({
                required: false
            });
            $('input[type=text]', '#fm-inBillDetail').attr("disabled", "disabled");
            $('form textarea').attr("disabled", "disabled");
            $('#fm-inBillDetail').form('load', detailRow);
            detailUrl = '/StockInBill/InBillDetailDelete/?ID=' + detailRow.ID;
        } else {
            $.messager.confirm('错误', '没有选择行！');
        }
    }

    //修改入库单明细
    function editBillDetailClick() {
        var detailRow = $('#inBillDetail').datagrid('getSelected');
        if (detailRow) {
            $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '修改入库细表信息');
            $('#fm-inBillDetail .easyui-validatebox').validatebox({
                required: false
            });
            $('form input').removeAttr("disabled");
            $('form textarea').removeAttr("disabled");
            $('#fm-inBillDetail').form('load', detailRow);
            detailUrl = '/StockInBill/InBillDetailEdit/?ID=' + detailRow.ID;
        } else {
            $.messager.confirm('错误', '没有选择行！');
        }
    }

    //选择产品信息
    function productSelect() {
        $('#productData').dialog('open').dialog('setTitle', '选择产品信息');
        $('#productDetail').datagrid({ url: '/StockInBill/GetProductDetails/' });
        $("#productDetail").datagrid('reload');
    }

    //选择单位信息
    function unitSelect() {
        var productCode = $('#productCode').val();
        if (productCode != "" && productCode != null) {
            //$('#billQuantity').attr("value", '')
            $('#unitData').dialog('open').dialog('setTitle', '选择单位信息');
            $('#unitDetail').datagrid({ url: '/Unit/FindUnit/?productCode=' + productCode });
            $("#unitDetail").datagrid('reload');
        } else {
            $.messager.confirm('错误', '请先选择产品信息！');
        }
    }

</script>

<div id="dlg" class="easyui-dialog" modal="true"
        style="width:700px;height:500px;padding:0px 0px"
        closed="true" buttons="#dlg-buttons">
	<div class="easyui-layout" fit="true">
        <div region="center" border="false">
            <table class="easyui-datagrid" border="false" toolbar="#dlg-detailButtons" width="700" id="inBillDetail"
                fit="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="true" url="">
                <thead>
                    <tr>
                        <th field="ID" width="100">细单ID</th>
                        <th field="ProductCode" width="100">产品代码</th>
                        <th field="ProductName" width="120" align="right">产品名称</th>
                        <th field="UnitCode" width="80" align="right">单位编码</th>
                        <th field="UnitName" width="80" align="right">单位名称</th>
                        <th field="BillQuantity" width="60" align="right">数量</th>
                        <th field="RealQuantity" width="80" align="right">实际入库量</th>
                        <th field="Price" width="60" align="right">单价</th>
                        <th field="Description" width="80" align="right">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="dlg-detailButtons" style="width: auto; height: auto; background-color: #FFFFFF;">
	<div border="false" style="padding:4px 4px;" >     
	    <form id="fm" method="post" novalidate>
            <table height="100px">
                <tr>
                <td width="60">订单号</td>
                <td width="168"><input name="BillNo" id="billNo" readonly="true"></td>
                <td width="60">制单日期</td>
                <td width="168"><input name="BillDate" id="billDate" readonly="true"></td>
                <td width="60">订单类型</td>
                <td width="168"><input name="BillTypeCode" id="biiTypeadd" missingmessage="请选择订单类型"></td>
                </tr>
                <tr>
                <td width="60">仓库编码</td>
                <td width="168"><input name="WarehouseCode" id="wareHouseadd" missingmessage="请选择仓库编码"></td>
                <td width="60">经办人</td>
                <td width="168"><input name="OperatePersonName" readonly="true" id="operatePersonName">
                <input name="OperatePersonID" readonly="true" id="operatePersonID"style=" display:none"></td>
                <td width="60">状态</td>
                <td width="168"><input name="Status" readonly="true"></td>
                </tr>
                <tr>
                <td width="60">审核人员</td>
                <td width="168"><input name="VerifyPersonName" readonly="true"></td>
                <td width="60">审核时间</td>
                <td width="168"><input name="VerifyDate" readonly="true"></td>
                <td width="60">描述</td>
                <td width="168">
                <input name="Description">
                </td>
                </tr>
            </table>
	    </form>
    </div>
    <div border="false" style="padding:4px 4px;" > 
	    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addBillDetailClick()" id="btnAddBillDetail">添加明细</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteBillDetailClick()" id="btnDeleteBillDetail">删除明细</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editBillDetailClick()" id="btnEditBillDetail">修改明细</a>
    </div>
</div>

<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>

<div  id="dlg-AddBillDetail" class="easyui-dialog" modal="true"
        style="width:270px;height:350px;padding:0px 0px"
        closed="true" buttons="#dlg-AddBillDetailbuttons">
        <form id="fm-inBillDetail" method="post" novalidate>
<table style="padding:10px 10px 0px 5px">
  <tr>
    <td style=" text-align:right">入库单号</td>
    <td align="left"><input type="text" name="BillNo" id="detailBillNo" readonly="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">产品代码</td>
    <td align="left"><input type="text" name="ProductCode" id="productCode"/> 
    <a href="#" onclick="productSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a></td>
  </tr>
  <tr>
    <td style=" text-align:right">产品名称</td>
    <td align="left"><input type="text" name="ProductName" class="easyui-validatebox" required="true" id="productName" /></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">单位编码</td>
    <td align="left"><label>
      <input type="text" name="UnitCode" class="easyui-validatebox" required="true" id="unitCode" readonly="true"/>
      <a href="#" onclick="unitSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true" >
    </label></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">单位名称</td>
    <td align="left"><input type="text" name="UnitName" class="easyui-validatebox" required="true" id="unitName"  readonly="true" /></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">数量</td>
    <td align="left"><input type="text" name="BillQuantity" class="easyui-numberbox" min="0" max="999999999" precision="2" required="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">单价</td>
    <td align="left"><input type="text" name="Price"class="easyui-validatebox" required="true" id="price"  readonly="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">总金额</td>
    <td align="left"><input type="text" name="textfield6"  readonly="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">备注</td>
    <td align="left"><label>
      <textarea name="textarea" id="textarea" cols="21" rows="4"></textarea>
    </label></td>
    <td>
    </td>
  </tr>
</table>
</form>
</div>

<div id="dlg-AddBillDetailbuttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="DetailSave()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-AddBillDetail').dialog('close')">取消</a>
</div>

@Html.Partial("_ProductPartial")
@Html.Partial("_UnitPartial")
