<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="AuthorizeEntities" connectionString="metadata=res://*/EntityModels.AuthorizeDBModel.csdl|res://*/EntityModels.AuthorizeDBModel.ssdl|res://*/EntityModels.AuthorizeDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Authorize;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AuthorizeContext" connectionString="Data Source=192.168.1.20;Initial Catalog=wms_rfid_db;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
	  <!--<add name="AuthorizeContext" connectionString="Data Source=.;Initial Catalog=wms_rfid_db;Integrated Security=True;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />-->   
  </connectionStrings>

  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/> 
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="None">
      <forms loginUrl="~/Account/LogOn" timeout="50000" />
    </authentication>

    <machineKey
      validationKey="EF936296B4B062FFD6B7074C0501D7CCEFB50C19A75613AEEC603B4EF5F42AEDC463FDE81707795DDAA5FD4AA0D88CC30E9D413699A7E814358876FC9E75B883"
      decryptionKey="948F668DFEEC39CB8BF07E222BFEED5C5B5B9FF427E0F92976534EE8D517F325"
      validation="SHA1"
      decryption="AES"
      />

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HttpRequestModule" type="THOK.Common.Ef.Infrastructure.HttpRequestModule,THOK.Common.Ef"/>
    </modules>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
           type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />
      <typeAlias alias="perThread"
           type="Microsoft.Practices.Unity.PerThreadLifetimeManager,
               Microsoft.Practices.Unity" />
      <typeAlias alias="external"
           type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />
    </typeAliases>
    <containers>
      <container name="containerOne">
        <types>
          <!-- Default (un-named) mapping for IDocumentService to DocumentService-->
        </types>
      </container>
      <container name="defaultContainer">
        <register type="THOK.Security.IFormsAuthenticationService, Wms" mapTo="THOK.Security.FormsAuthenticationService, Wms"/>
        
        <register type="THOK.Authority.Bll.Interfaces.IUserService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.UserService, THOK.Authority.Bll"/>
        <register type="THOK.Authority.Bll.Interfaces.IModuleService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.ModuleService, THOK.Authority.Bll"/>
        <register type="THOK.Authority.Bll.Interfaces.IRoleService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.RoleService, THOK.Authority.Bll"/>
        <register type="THOK.Authority.Bll.Interfaces.ISystemService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.SystemService, THOK.Authority.Bll"/>
        <register type="THOK.Authority.Bll.Interfaces.ICityService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.CityService, THOK.Authority.Bll"/>
        <register type="THOK.Authority.Bll.Interfaces.ISystemEventLogService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.SystemEventLogService, THOK.Authority.Bll"/>
        <register type="THOK.Authority.Bll.Interfaces.IServerService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.ServerService, THOK.Authority.Bll"/>
		    <register type="THOK.Authority.Bll.Interfaces.IFunctionService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.FunctionService, THOK.Authority.Bll"/>

		    <register type="THOK.Wms.Bll.Interfaces.ICompanyService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.CompanyService, THOK.Wms.Bll"/>
		    <register type="THOK.Wms.Bll.Interfaces.IDepartmentService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.DepartmentService, THOK.Wms.Bll"/>
		    <register type="THOK.Wms.Bll.Interfaces.IEmployeeService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.EmployeeService, THOK.Wms.Bll"/>
		    <register type="THOK.Wms.Bll.Interfaces.IJobService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.JobService, THOK.Wms.Bll"/>

        <register type="THOK.Wms.Bll.Interfaces.IProductService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.ProductService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IDailyBalanceService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.DailyBalanceService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IBrandService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.BrandService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.ISupplierService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.SupplierService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IUnitService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.UnitService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IUnitListService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.UnitListService, THOK.Wms.Bll"/>

		<register type="THOK.Wms.Bll.Interfaces.IStorageService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.StorageService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IBillTypeService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.BillTypeService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IWarehouseService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.WarehouseService, THOK.Wms.Bll"/>
		<register type="THOK.Wms.Bll.Interfaces.IAreaService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.AreaService, THOK.Wms.Bll"/>
		<register type="THOK.Wms.Bll.Interfaces.IShelfService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.ShelfService, THOK.Wms.Bll"/>
		<register type="THOK.Wms.Bll.Interfaces.ICellService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.CellService, THOK.Wms.Bll"/>

        <register type="THOK.Wms.Bll.Interfaces.IInBillMasterService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.InBillMasterService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IInBillDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.InBillDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Allot.Interfaces.IInBillAllotService, THOK.Wms.Allot" mapTo="THOK.Wms.Allot.Service.InBillAllotService, THOK.Wms.Allot"/>
        <register type="THOK.Wms.Bll.Interfaces.IOutBillMasterService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.OutBillMasterService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IOutBillDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.OutBillDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Allot.Interfaces.IOutBillAllotService, THOK.Wms.Allot" mapTo="THOK.Wms.Allot.Service.OutBillAllotService, THOK.Wms.Allot"/>
        <register type="THOK.Wms.Bll.Interfaces.IMoveBillMasterService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.MoveBillMasterService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IMoveBillDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.MoveBillDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IProfitLossBillMasterService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.ProfitLossBillMasterService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IProfitLossBillDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.ProfitLossBillDetailService, THOK.Wms.Bll"/>

        <register type="THOK.Wms.Bll.Interfaces.ICheckBillMasterService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.CheckBillMasterService, THOK.Wms.Bll"/>
		    <register type="THOK.Wms.Bll.Interfaces.ICheckBillDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.CheckBillDetailService, THOK.Wms.Bll"/>

        <register type="THOK.Wms.Bll.Interfaces.IStockIntoSearchService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.StockIntoSearchService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IIntoSearchDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.IntoSearchDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IStockOutSearchService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.StockOutSearchService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IOutSearchDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.OutSearchDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IStockCheckSearchService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.StockCheckSearchService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.ICheckSearchDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.CheckSearchDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IStockMoveSearchService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.StockMoveSearchService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IMoveSearchDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.MoveSearchDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IStockDifferSearchService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.StockDifferSearchService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IDifferSearchDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.DifferSearchDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.ISortOrderSearchService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.SortOrderSearchService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IOrderSearchDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.OrderSearchDetailService, THOK.Wms.Bll"/>
        
        <register type="THOK.Wms.Bll.Interfaces.IHistoricalDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.HistoricalDetailService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IStockledgerService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.StockledgerService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.ICargospaceService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.CargospaceService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IDistributionService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.DistributionService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.ICurrentStockService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.CurrentStockService, THOK.Wms.Bll"/>
        <register type="THOK.Wms.Bll.Interfaces.IDailyBalanceService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.DailyBalanceService, THOK.Wms.Bll"/>
        
		  <register type="THOK.Wms.Bll.Interfaces.ISortOrderService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.SortOrderService, THOK.Wms.Bll"/>
		  <register type="THOK.Wms.Bll.Interfaces.ISortOrderDetailService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.SortOrderDetailService, THOK.Wms.Bll"/>
		  <register type="THOK.Wms.Bll.Interfaces.ISortingLineService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.SortingLineService, THOK.Wms.Bll"/>
		  <register type="THOK.Wms.Bll.Interfaces.ISortingLowerlimitService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.SortingLowerlimitService, THOK.Wms.Bll"/>
		  <register type="THOK.Wms.Bll.Interfaces.ISortOrderDispatchService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.SortOrderDispatchService, THOK.Wms.Bll"/>
		  <register type="THOK.Wms.Bll.Interfaces.ISortWorkDispatchService, THOK.Wms.Bll" mapTo="THOK.Wms.Bll.Service.SortWorkDispatchService, THOK.Wms.Bll"/>  
		  


		<register type="THOK.Common.Ef.Interfaces.IRepositoryContext,THOK.Common.Ef" mapTo="THOK.Wms.Repository.RepositoryContext.AuthorityRepositoryContext,THOK.Wms.Repository"/>
                
        <register type="THOK.Authority.Dal.Interfaces.IRoleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.RoleRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IUserRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.ICityRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.CityRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.ISystemEventLogRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.SystemEventLogRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IServerRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.ServerRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.ISystemRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.SystemRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IModuleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.ModuleRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IFunctionRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.FunctionRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.ILoginLogRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.LoginLogRepository, THOK.Authority.Dal"/>

        <register type="THOK.Authority.Dal.Interfaces.IUserSystemRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserSystemRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IUserModuleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserModuleRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IUserFunctionRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserFunctionRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IUserRoleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserRoleRepository, THOK.Authority.Dal"/>

        <register type="THOK.Authority.Dal.Interfaces.IRoleSystemRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.RoleSystemRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IRoleModuleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.RoleModuleRepository, THOK.Authority.Dal"/>
        <register type="THOK.Authority.Dal.Interfaces.IRoleFunctionRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.RoleFunctionRepository, THOK.Authority.Dal"/>

		<register type="THOK.Wms.Dal.Interfaces.ICompanyRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.CompanyRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.IDepartmentRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.DepartmentRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.IEmployeeRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.EmployeeRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.IJobRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.JobRepository, THOK.Wms.Dal"/>

        <register type="THOK.Wms.Dal.Interfaces.IProductRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.ProductRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IDailyBalanceRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.DailyBalanceRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IBrandRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.BrandRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.ISupplierRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.SupplierRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IUnitRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.UnitRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IUnitListRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.UnitListRepository, THOK.Wms.Dal"/>

		<register type="THOK.Wms.Dal.Interfaces.IBillTypeRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.BillTypeRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.IStorageRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.StorageRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.IWarehouseRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.WarehouseRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.IAreaRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.AreaRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.IShelfRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.ShelfRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.ICellRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.CellRepository, THOK.Wms.Dal"/>

        <register type="THOK.Wms.Dal.Interfaces.IInBillMasterRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.InBillMasterRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IInBillDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.InBillDetailRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IInBillAllotRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.InBillAllotRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IOutBillMasterRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.OutBillMasterRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IOutBillDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.OutBillDetailRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IOutBillAllotRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.OutBillAllotRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IMoveBillMasterRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.MoveBillMasterRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IMoveBillDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.MoveBillDetailRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IProfitLossBillMasterRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.ProfitLossBillMasterRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IProfitLossBillDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.ProfitLossBillDetailRepository, THOK.Wms.Dal"/>

		<register type="THOK.Wms.Dal.Interfaces.ICheckBillMasterRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.CheckBillMasterRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.ICheckBillDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.CheckBillDetailRepository, THOK.Wms.Dal"/>

        <register type="THOK.Wms.Dal.Interfaces.IStockIntoSearchRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.StockIntoSearchRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IIntoSearchDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.IntoSearchDetailRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IStockOutSearchRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.StockOutSearchRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IOutSearchDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.OutSearchDetailRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IStockCheckSearchRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.StockCheckSearchRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.ICheckSearchDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.CheckSearchDetailRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IStockMoveSearchRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.StockMoveSearchRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IMoveSearchDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.MoveSearchDetailRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IStockDifferSearchRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.StockDifferSearchRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IDifferSearchDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.DifferSearchDetailRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.ISortOrderSearchRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.SortOrderSearchRepository, THOK.Wms.Dal"/>
        <register type="THOK.Wms.Dal.Interfaces.IOrderSearchDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.OrderSearchDetailRepository, THOK.Wms.Dal"/>


		<register type="THOK.Wms.Dal.Interfaces.ISortOrderRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.SortOrderRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.ISortOrderDetailRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.SortOrderDetailRepository, THOK.Wms.Dal"/>

		<register type="THOK.Wms.Dal.Interfaces.ISortingLineRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.SortingLineRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.ISortingLowerlimitRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.SortingLowerlimitRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.ISortOrderDispatchRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.SortOrderDispatchRepository, THOK.Wms.Dal"/>
		<register type="THOK.Wms.Dal.Interfaces.ISortWorkDispatchRepository, THOK.Wms.Dal" mapTo="THOK.Wms.Dal.EntityRepository.SortWorkDispatchRepository, THOK.Wms.Dal"/>

        <register type="THOK.Wms.SignalR.Connection.AllotStockInConnection, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Connection.AllotStockInConnection, THOK.Wms.SignalR"/>
        <register type="THOK.Wms.SignalR.Allot.Interfaces.IInBillAllotService, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Allot.Service.InBillAllotService, THOK.Wms.SignalR"/>

        <register type="THOK.Wms.SignalR.Connection.AllotStockOutConnection, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Connection.AllotStockOutConnection, THOK.Wms.SignalR"/>
        <register type="THOK.Wms.SignalR.Allot.Interfaces.IOutBillAllotService, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Allot.Service.OutBillAllotService, THOK.Wms.SignalR"/>
		  
		<register type="THOK.Wms.SignalR.Connection.DispatchSortWorkConnection, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Connection.DispatchSortWorkConnection, THOK.Wms.SignalR"/>
		<register type="THOK.Wms.SignalR.Dispatch.Interfaces.ISortOrderWorkDispatchService, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Dispatch.Service.SortWorkDispatchService, THOK.Wms.SignalR"/>
		  
        <register type="THOK.Wms.SignalR.Common.IStorageLocker, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Common.StorageLocker, THOK.Wms.SignalR"/>
        <register type="THOK.Wms.SignalR.Common.IMoveBillCreater, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Common.MoveBillCreater, THOK.Wms.SignalR"/>
        <register type="THOK.Wms.SignalR.Common.IOutBillCreater, THOK.Wms.SignalR" mapTo="THOK.Wms.SignalR.Common.OutBillCreater, THOK.Wms.SignalR"/>
      </container>
    </containers>
  </unity>
</configuration>
