<script type="text/javascript">
    var url;
    $(function () {
        $('#IsActiveCc').combo({
            required: true,
            editable: false,
            panelHeight: 45
        });
    })

    function addClick() {
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#LowerLimitfm').form('clear');
        $('#LowerLimitfm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#IsActiveCc').combo({
            hasDownArrow: true
        });
        url = '/SortingLowerLimit/Create/';
    };

    function save() {
        $('#LowerLimitfm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg').dialog('close'); 
                    $('#details').datagrid('reload'); 
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }
    function productSelect() {
        $('#productInfoShowDiv').dialog('open').dialog('setTitle', '选择产品信息');
        $('#productDetail').datagrid({ url: '/Product/FindProduct/' });
        $("#productDetail").datagrid('reload');
    }

    function sortLineSelect() {
        $('#sortLineShowDiv').dialog('open').dialog('setTitle', '选择分拣线信息');
    }
</script>

    <div id="dlg" class="easyui-dialog" modal="true"  style="width:320px;height:320px;padding:2px 2px"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >     
	            <form id="LowerLimitfm" method="post" novalidate>
                    <table width="280">
                     <tr>
                        <td width="60" style="text-align:right">分拣线编码：</td>
                        <td width="168">
                        <input name="ID" id="id" style="display:none"/>
                        <input name="SortingLineCode" id="sortingLineCode" class="easyui-validatebox"/>
                        <a href="#" onclick="sortLineSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                        </td>
                      </tr>
                      <tr>
                        <td width="60" style="text-align:right">分拣线名称：</td>
                        <td width="168"><input name="SortingLineName" id="sortingLineName" class="easyui-validatebox" /></td>
                      </tr>
                      <tr>
                        <td width="60" style="text-align:right">卷烟编码：</td>
                        <td width="168"><input name="ProductCode" id="productCode" class="easyui-validatebox" />
                        <a href="#" onclick="productSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                        </td>
                      </tr>
                      <tr>
                        <td width="60" style="text-align:right">卷烟名称：</td>
                        <td width="168"><input name="ProductName" id="productName" class="easyui-validatebox" /></td>
                      </tr>
                      <tr>
                        <td width="60" style="text-align:right">单位编码：</td>
                        <td width="168"><input name="UnitCode" id="unitCode" class="easyui-validatebox" /></td>
                      </tr>
                      <tr>
                        <td width="60" style="text-align:right">单位名称：</td>
                        <td width="168"><input name="UnitName" id="unitName" class="easyui-validatebox" /></td>
                      </tr>
                       <tr>
                        <td width="60" style="text-align:right">下限数量：</td>
                        <td width="168"><input name="Quantity" class="easyui-validatebox" /></td>
                      </tr>                 
                      <tr>
                        <td style="text-align:right">是否可用：</td>
                        <td><select id="IsActiveCc" name="IsActive" class="easyui-combobox" style="width:80px">
		                        <option value="1">可用</option>
		                        <option value="0">不可用</option>
	                        </select>
	                    </td>
                      </tr>                      
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
@Html.Partial("_ProductPartial")
@Html.Partial("_SortLinePartial")