<script type="text/javascript">
    $(function () {
        $('#status').combo({
            editable: false,
            panelHeight: 45
        });
    })

    function searchClick() {
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.SystemName = $('#systemname').val();
        queryParams.Description = $('#description').val();
        queryParams.Status = $('#status').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 10
        }); 
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close'); 
    }

</script>

<div id="dlg-search" class="easyui-dialog" modal="true"  style="width:360px;height:320px;padding:2px 2px"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >     
	            <form id="sortingfm" method="post" novalidate>
                          <table width="360">
                     <tr>
                        <td width="60">分拣线编码：</td>
                        <td width="168"><input name="sortingLineId" class="easyui-validatebox" required="true"/></td>
                      </tr>
                      <tr>
                        <td width="60">分拣线名称：</td>
                        <td width="168"><input name="sortingLineName" class="easyui-validatebox" required="true"/></td>
                      </tr>
                      <tr>
                        <td width="60">卷烟编码：</td>
                        <td width="168"><input name="productCode" class="easyui-validatebox" required="true"/></td>
                      </tr>
                      <tr>
                        <td width="60">卷烟名称：</td>
                        <td width="168"><input name="productName" class="easyui-validatebox" required="true"/></td>
                      </tr>
                      <tr>
                        <td width="60">卷烟单位：</td>
                        <td width="168"><input name="productUnit" class="easyui-validatebox" required="true"/></td>
                      </tr>                     
                      <tr>
                        <td>是否启用：</td>
                        <td><select id="cc" name="Status" class="easyui-combobox" style="width:80px">
		                        <option value="true">启用</option>
		                        <option value="false">禁用</option>
	                        </select>
	                    </td>
                      </tr>
                      <tr>
                        <td width="60">备注：</td>
                        <td width="168"><input name="Remarks" class="easyui-validatebox" required="true"/></td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">取消</a>
</div>
