<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/SortingLowerLimit/Details/'
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ID" width="80" hidden="true">ID</th>
                <th field="SortingLineCode" width="100" >分拣线编码</th>
                <th field="SortingLineName" width="160" >分拣线名称</th>
                <th field="ProductCode" width="100">卷烟编码</th>
                <th field="ProductName" width="160">卷烟名称</th>
                <th field="UnitCode" width="80">单位编码</th>
                <th field="UnitName" width="100">单位名称</th>
                <th field="Quantity" width="120">下限数量</th>
                <th field="IsActive" width="100">是否可用</th>
                 <th field="UpdateTime" width="120">修改时间</th>
            </tr>
        </thead>
    </table>
</div>