<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="typeId" width="80" hidden="true">类型ID</th>
                <th field="checkCode" width="160" >盘点单号</th>
                <th field="checkDate" width="160" >制单日期</th>
                <th field="isType" width="160">操作员</th>
                <th field="checkDate" width="160" >审核人</th>
                <th field="isType" width="160">审核日期</th>
                <th field="checkDate" width="160" >单据类型</th>
                <th field="Status" width="160">处理状态</th>
                <th field="isType" width="160">备注</th>
            </tr>
        </thead>
    </table>
</div>
<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
   <table id="details" class="easyui-datagrid" border="false" singleSelect="true"
        fit="true"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="typeId" width="80" hidden="true">类型ID</th>
                <th field="checkCode" width="120" >货位编码</th>
                <th field="checkDate" width="120" >货位名称</th>
                <th field="productCode" width="120">产品代码</th>
                <th field="productName" width="120">产品名称</th>
                <th field="unitCode" width="120">单位编码</th>
                <th field="unitName" width="120">单位名称</th>
                <th field="shul" width="120">账面数量</th>
                <th field="Status" width="120">盘点数量</th>
                <th field="isType" width="120">差异数量</th>
            </tr>
        </thead>
    </table>
</div>