<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuthorityEntities" connectionString="metadata=res://*/DATA.DatabaseModel.csdl|res://*/DATA.DatabaseModel.ssdl|res://*/DATA.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SortDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AuthorizeEntities" connectionString="metadata=res://*/Data.AuthorizeDBModel.csdl|res://*/Data.AuthorizeDBModel.ssdl|res://*/Data.AuthorizeDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Authorize;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>