<script type="text/javascript">
    $(function () {
        $('#status').combo({
            editable: false,
            panelHeight: 45
        });
        $('#depar-add').combogrid({
            width: 120,
            panelWidth: 340,
            url: '/Department/Details/?page=1&rows=10',
            idField: 'ID',
            textField: 'DepartmentName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '部门ID', hidden: true, width: 30 },
					{ field: 'DepartmentCode', title: '部门编码', align: 'left', width: 40 },
					{ field: 'DepartmentName', title: '部门名称', align: 'left', width: 30 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
				]]
        });

        $('#job-add').combogrid({
            width: 120,
            panelWidth: 340,
            url: '/Job/Details/?page=1&rows=10',
            idField: 'ID',
            textField: 'JobName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '岗位ID', hidden: true, width: 30 },
					{ field: 'JobCode', title: '岗位编码', align: 'left', width: 40 },
					{ field: 'JobName', title: '岗位名称', align: 'left', width: 30 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
				]]
        });
    })

    function searchClick() {
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.SystemName = $('#systemname').val();
        queryParams.Description = $('#description').val();
        queryParams.Status = $('#status').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 10
        });
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close');
    }

</script>
<div id="dlg-search" class="easyui-dialog" modal="true" style="width: 300px; height: 280px;
    padding: 2px 2px" closed="true" buttons="#dlg-buttons-search">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <table width="250">
                <tr>
                    <td width="60">
                        员工编码：
                    </td>
                    <td width="168" align="left">
                        <input id="EmployeeCode">
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        员工名称：
                    </td>
                    <td width="168" align="left">
                        <input id="EmployeeName">
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        部门名称：
                    </td>
                    <td width="168" align="left">
                        <input id="DepartmentID" id="depar-add" />
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        岗位名称：
                    </td>
                    <td width="168" align="left">
                        <input id="JobID" id="job-add" />
                    </td>
                </tr>
                <tr>
                    <td>
                        状态：
                    </td>
                    <td>
                        <select id="cc" name="Status" class="easyui-combobox" style="width: 50px">
                            <option value="3701">在职</option>
                            <option value="3702">离职</option>
                            <option value="3703">退休</option>
                            <option value="3704">试用</option>
                            <option value="3705">外调</option>
                            <option value="3706">停薪留职</option>
                            <option value="3707">借用</option>
                            <option value="3708">其他</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        是否可用：
                    </td>
                    <td>
                        <select id="cc" name="IsActive" class="easyui-combobox" style="width: 50px">
                            <option value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-search">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="select()">查询</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">
        取消</a>
</div>
