<script type="text/javascript">
    $(function () {
        $('#status').combo({
            editable: false,
            panelHeight: 45
        });
    })

    function searchClick() {
        $('#dlg-search').dialog('open').dialog('setTitle', '查询厂商信息');
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.SupplierCode = $('#supplierCode').val();
        queryParams.UniformCode = $('#uniformCode').val();
        queryParams.CustomCode = $('#customCode').val();
        queryParams.SupplierName = $('#supplierName').val();
        queryParams.ProvinceName = $('#provinceName').val();
        queryParams.IsActive = $('#isActive').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 10
        });
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close');
    }

</script>

    <div id="dlg-search" class="easyui-dialog" modal="true" 
        style="width:300px;height:250px;padding:2px 2px"
        closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >
                    <table width="250">
                      <tr>
                        <td width="60">厂商编码</td>
                        <td width="168"><input name="supplierCode"></td>
                      </tr>
                      <tr>
                        <td width="60">统一编码</td>
                        <td width="168"><input name="uniformCode"></td>
                      </tr>
                      <tr>
                        <td width="60">自定义编码</td>
                        <td width="168"><input name="customCode"></td>
                      </tr>
                      <tr>
                        <td width="60">厂商名称</td>
                        <td width="168"><input name="supplierName"></td>
                      </tr>
                      <tr>
                        <td width="60">省份名称</td>
                        <td width="168"><input name="provinceName"></td>
                      </tr>
                      <tr>
                        <td>状态:</td>
                        <td><select id="cc" name="isActive" class="easyui-combobox" style="width: 50px">
		                        <option value="true">启用</option>
		                        <option value="false">禁用</option>
	                        </select>
	                    </td>
                      </tr>
                    </table>
            </div>
        </div>
    </div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">取消</a>
</div>

