<script type="text/javascript">
    $(function () {

    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/City/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="CityID" width="80" hidden="true">供应商编码</th>
                <th field="CityName" width="100">供应商名称</th>
                <th field="Description" width="100">联系人</th>
                <th field="IsActive" width="80">联系电话</th>
                <th field="Is" width="80">地址</th>
                <th field="Active" width="80">邮编</th>
                <th field="A" width="80">是否启用</th>
                <th field="B" width="80">银行账号</th>
                <th field="C" width="80">银行名称</th>                
            </tr>
        </thead>
    </table>
</div>

 
