<script type="text/javascript">
    $(function () {

    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/Factory/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="SupplierCode" width="80" hidden="true">厂商编码</th>
                <th field="UniformCode" width="100">统一编码</th>
                <th field="CustomCode" width="100">自定义编码</th>
                <th field="SupplierName" width="80">厂商名称</th>
                <th field="ProvinceName" width="80">省份名称</th>
                <th field="IsActive" width="80">是否可用</th>
                <th field="UpdateTime" width="80">更新时间</th>
            </tr>
        </thead>
    </table>
</div>

 
