<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuthorizeEntities" connectionString="metadata=res://*/EntityModels.AuthorizeDBModel.csdl|res://*/EntityModels.AuthorizeDBModel.ssdl|res://*/EntityModels.AuthorizeDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Authorize;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>