<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="typeId" width="80" hidden="true">类型ID</th>
                <th field="typeCode" width="160" >类型编码</th>
                <th field="typeName" width="160" >类型名称</th>
                <th field="isType" width="160">是否启用</th>
                <th field="Status" width="160">备注</th>
            </tr>
        </thead>
    </table>
</div>
