<script type="text/javascript">
    var moduleId;
    $(function () {
        $('#module_functionadmin').window({
            title: '功能模块',
            width: 450,
            modal: true,
            shadow: false,
            closed: true,
            height: 300,
            resizable: false,
            minimizable: false,
            maximizable: false,
            collapsible: false
        });

        $('#functionadmin').click(function () {
            $('#module_functionadmin').window('open');
            var row = $('#details').treegrid('getSelected');
            if (row) {
                moduleId = row.ModuleID;
                $('#moduledatagrid').datagrid({
                    url: '/Function/Details/?ModuleId=' + row.ModuleID
                });
            } else {
                $('#module_functionadmin').window('close');
                $.messager.show({ title: '系统提示', msg: '请选择模块！' });
            }
        })
    })

    function functionAdd() {
        $('#function_add').dialog('open').dialog('setTitle', '功能新增');
    }

    function functionEdit() {
        var node = $('#moduledatagrid').datagrid('getSelected');
        if (node) {
            $('#function_add').dialog('open').dialog('setTitle', '功能编辑');
        } else {
            $.messager.show({ title: '系统提示', msg: '请选择要编辑的数据！' });
        }
    }

    function functionDelete() {
        var node = $('#moduledatagrid').datagrid('getSelected');       
        if (node) {
            $.post("/Function/Delete", { FunctionId: node.FunctionID }, function (json) {
                if (json) {
                    $.messager.show({ title: '系统提示', msg: '删除成功' });
                    $('#moduledatagrid').datagrid('options').url = '/Function/Details/?ModuleId=' + moduleId;
                    $('#moduledatagrid').datagrid('reload');
                    //$('#details').treegrid('options').url = '/Module/Details/';
                    //$('#details').treegrid('reload');
                } else {
                    $.messager.show({ title: '系统提示', msg: '修改失败!请检查原因！' });
                }
            });
        } else {
            $.messager.show({ title: '系统提示', msg: '请选择要删除的数据！' });
        }
    }

</script>

<div id="module_functionadmin"  split="true" border="false" >    
    <table id="moduledatagrid" class="easyui-datagrid"  rownumbers="true" singleSelect="true" 
			idField="FunctionName" treeField="ControlName" toolbar="#tb">
        <thead>
            <tr>
                <th field="FunctionID" width="80" hidden="true">功能编码</th>
                <th field="FunctionName" width="144">功能名称</th>
                <th field="ControlName" width="115" >控制名称</th>
                <th field="IndicateImage"  width="115" >功能图标</th>
                <th field="Module_ModuleID" hidden="true" width="160" >模块编码</th>
            </tr>
        </thead>
    </table>
    <div id="tb">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="functionAdd()" id="functionAdd">新增</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="functionEdit()" id="functionEdit">编辑</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="functionDelete()">删除</a>
	</div>
</div>

@Html.Partial("_FunctionAdd")
                                                                                            