<script type="text/javascript">
    function searchLoad() {
        $('#cg-search').combogrid({
            width: 180,
            panelWidth: 450,
            url: '/System/Details/?page=1&rows=10',
            idField: 'SystemID',
            textField: 'SystemName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'SystemID', title: '系统ID', hidden: true, width: 30 },
					{ field: 'SystemName', title: '系统名称', align: 'left', width: 40 },
					{ field: 'Description', title: '描述', align: 'left', width: 30 },
					{ field: 'Status', title: '状态', align: 'left', width: 30 }
				]]
        });
    }

    function searchClick() {
        searchLoad();
        $('#cg-search').combogrid('setValue', '').combo('setText', '');
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
    };

    function select() {
        $("#details").treegrid({
            url: '/Module/Details/' + $('#cg-search').combogrid('getValue')
        });
        $("#details").treegrid('reload');
        $('#dlg-search').dialog('close'); 
    }

</script>

<div id="dlg-search" class="easyui-dialog" modal="true" style="width:290px;height:130px;padding:2px 2px"
		closed="true" buttons="#dlg-buttons-search">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
            <table width="250">
              <tr>
				    <td>所属系统</td>
				    <td colspan="3"align="left">
                    <input name="SystemId" type="text" id="cg-search" />                               
                    </td>
              </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-search">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">查询</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">取消</a>
</div>
