<div region="center" split="true" border="false" >    
   <table id="details" class="easyui-treegrid" border="false" 
   			url="/Module/Details/" rownumbers="true" singleSelect="true"
			idField="ModuleID" treeField="ModuleName" toolbar="#tool" pagination="false" fit="true" >
		<thead>
			<tr>
                <th field="ModuleID" hidden="true" width="50">模块编码</th>
				<th field="ModuleName" width="200" align="left" iconCls="icon">模块名称</th>
				<th field="IndicateImage" width="150">图标</th>                
                <th field="ModuleURL" width="150">路径</th>
                <th field="ShowOrder" width="150">显标顺序</th>
                <th field="SystemID" hidden="true" width="50">系统编码</th>
				<th field="SystemName" hidden="true" width="200" align="left" iconCls="icon">模块名称</th>
                <th field="ParentModuleID" hidden="true" width="50">模块编码</th>
				<th field="ParentModuleName" hidden="true" width="200" align="left" iconCls="icon">模块名称</th>
			</tr>
		</thead>
	</table>
</div>