<script type="text/javascript">
    $(function () {
        $('#cc').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 100
        });
    })

    function DataLoad() {
        //获取仓库信息IsActive=1筛选出可用的仓库
        $('#wareHouseadd').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetWareHouseDetail/?IsActive=1',
            idField: 'WarehouseCode',
            textField: 'WarehouseName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'WarehouseCode', title: '仓库编码', align: 'left', width: 40 },
                    { field: 'WarehouseName', title: '仓库名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });

        //获取单据类型单据类别BillClass=0003为移库单IsActive=1为可用
        $('#biiTypeadd').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetBillTypeDetail/?BillClass=0003&IsActive=1',
            idField: 'BillTypeCode',
            textField: 'BillTypeName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'BillTypeCode', title: '订单类型编码', align: 'left', width: 40 },
                    { field: 'BillTypeName', title: '订单类型名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });
    }

    //获取当前时间
    function getTime() {
        var d = new Date();
        var vYear = d.getFullYear();
        var vMon = d.getMonth() + 1;
        var vDay = d.getDate();
        var h = d.getHours();
        var m = d.getMinutes();
        t = vYear + "-" + (vMon < 10 ? "0" + vMon : vMon) + "-" + (vDay < 10 ? "0" + vDay : vDay) + " " + (h < 10 ? "0" + h : h) + ":" + (m < 10 ? "0" + m : m);
        return t;
    }

    //新增移库单按钮
    function addClick() {
        $('#billNo').attr("readonly", true);
        $('#billDate').attr("readonly", true);
        DataLoad();
        $.getJSON("/StockMoveBill/GenMoveBillNo/", function (json) {
            if (json) {
                $('#moveBillDetail').datagrid('loadData', { total: 0, rows: [] }); //清空细单
                $('#dlg').dialog('open').dialog('setTitle', '新增移库单');
                $('#fm').form('clear');
                $('#billNo').val(json.BillNo);
                $('#operatePersonName').val(json.employeeName);
                billno = json.BillNo;
                $('#billDate').val(getTime());
                $('#fm .easyui-validatebox').validatebox({
                    required: true
                });
                $('form input').removeAttr("disabled");
                $('form textarea').removeAttr("disabled");
                $('#btnAddBillDetail').css('display', 'inline'); //设置新增明细按钮的可见性
                $('#btnDeleteBillDetail').css('display', 'inline'); //设置删除明细按钮的可见性
                $('#btnEditBillDetail').css('display', 'inline'); //设置修改明细按钮的可见性
                $('#cc').combo({
                    hasDownArrow: true
                });
                url = '/StockMoveBill/Create/';
            } else {
                $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
            }
        });
    };

    //保存移库主单
    function save() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.show({
                        title: '成功',
                        msg: result.msg
                    });
                    $('#dlg').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.show({
                        title: '错误',
                        msg: result.msg
                    });
                    $('#details').datagrid('reload');
                }
            }
        });
    }

    //删除移库细单
    function deleteMoveBillDetail(id) {
        $.getJSON('/StockMoveBill/MoveBillDetailDelete/', { ID: id }, function (json) {
            if (json.success) {
                $.messager.show({
                    title: '成功',
                    msg: json.msg
                });
                $('#moveBillDetail').datagrid('reload');
            }
            else {
                $.messager.show({
                    title: '失败',
                    msg: json.msg
                });
            }
        });
    }

    //新增移库细单按钮
    function addBillDetailClick() {
        $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '新增移库订单明细');
        $('#fm-moveBillDetail').form('clear');
        detailUrl = '/StockInBill/InBillDetailCreate/';
        $('#detailBillNo').val(billno);
        $('#detailBillNo').attr("readonly", true);
    };

    //选择移出货位编码
    function outCellSelect() {
        $('#cellData').dialog('open').dialog('setTitle', '选择货位信息');
        loadData("out");
    }

    //选择移入货位编码
    function inCellSelect() {
        if ($('#outCellCode').val()!="") {
            $('#cellData').dialog('open').dialog('setTitle', '选择货位信息');
            loadData("in",$('#productCode').val());
        }
        else {
            $.messager.alert('系统提示', '请先选择要移出的货位！');
        }
    }

</script>

<div id="dlg" class="easyui-dialog" modal="true"
        style="width:900px;height:500px;padding:0px 0px"
        closed="true" buttons="#dlg-buttons">
	<div class="easyui-layout" fit="true">
        <div region="center" border="false">
            <table class="easyui-datagrid" border="false" toolbar="#dlg-detailButtons" width="900" id="moveBillDetail"
                fit="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="true" url="" idField="ID">
                <thead>
                    <tr>
                        <th field="ID" width="100" hidden="true">细单ID</th>
                        <th field="OutCellCode" width="100" align="right">货位编码(出)</th>
                        <th field="OutCellName" width="100" align="right">货位名称(出)</th>
                        <th field="InCellCode" width="80" align="right">货位编码(入)</th>
                        <th field="InCellName" width="80" align="right">货位名称(入)</th>
                        <th field="ProductCode" width="60" align="right">产品代码</th>
                        <th field="ProductName" width="90" align="right">产品名称</th>
                        <th field="UnitCode" width="60" align="right">单位编码</th>
                        <th field="UnitName" width="50" align="right">单位名称</th>
                        <th field="RealQuantity" width="70" align="right">数量</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="dlg-detailButtons" style="width: auto; height: auto; background-color: #FFFFFF;">
	<div border="false" style="padding:4px 4px;" >     
	    <form id="fm" method="post" novalidate>
            <table height="100px">
                <tr>
                <td width="60">订单号</td>
                <td width="168"><input name="BillNo" id="billNo" readonly="true"></td>
                <td width="60">制单日期</td>
                <td width="168"><input name="BillDate" id="billDate" readonly="true"></td>
                <td width="60">单据类型</td>
                <td width="168"><input name="BillTypeCode" id="biiTypeadd" missingmessage="请选择订单类型"></td>
                </tr>
                <tr>
                <td width="60">仓库编码</td>
                <td width="168"><input name="WarehouseCode" id="wareHouseadd" missingmessage="请选择仓库编码"></td>
                <td width="60">经办人</td>
                <td width="168"><input name="OperatePersonName" readonly="true" id="operatePersonName">
                <input name="OperatePersonID" readonly="true" id="operatePersonCode"style=" display:none"></td>
                <td width="60">状态</td>
                <td width="168"><input name="Status" readonly="true"></td>
                </tr>
                <tr>
                <td width="60">审核人员</td>
                <td width="168"><input name="VerifyPersonName" readonly="true"></td>
                <td width="60">审核时间</td>
                <td width="168"><input name="VerifyDate" readonly="true"></td>
                <td width="60">描述</td>
                <td width="168"><input name="Description"></td>
                </tr>
                <tr>
                <td>状态:</td>
                <td><select id="cc" name="IsActive" class="easyui-combobox" style="width: 100px">
		                <option value="1">可用</option>
		                <option value="0">不可用</option>
	                </select>
	            </td>
                </tr>
            </table>
	    </form>
    </div>
    <div border="false" style="padding:4px 4px;" > 
	    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addBillDetailClick()" id="btnAddBillDetail">添加明细</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteBillDetailClick()" id="btnDeleteBillDetail">删除明细</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editBillDetailClick()" id="btnEditBillDetail">修改明细</a>
    </div>
</div>

<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>

<div  id="dlg-AddBillDetail" class="easyui-dialog" modal="true"
        style="width:280px;height:350px;padding:0px 0px"
        closed="true" buttons="#dlg-AddBillDetailbuttons">
        <form id="fm-moveBillDetail" method="post" novalidate>
<table style="padding:10px 10px 0px 5px">
  <tr>
    <td style=" text-align:right">移库单号</td>
    <td align="left"><input type="text" name="BillNo" id="detailBillNo" /></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">货位编码(出)</td>
    <td align="left"><input type="text" name="OutCellCode" class="easyui-validatebox" required="true" readonly="true" id="outCellCode" missingmessage="请选择要移出的货位"/> 
    <a href="#" onclick="outCellSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a></td>
  </tr>
  <tr>
    <td style=" text-align:right">货位名称(出)</td>
    <td align="left"><input type="text" name="OutCellName" class="easyui-validatebox" required="true" readonly="true" id="outCellName"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">货位编码(入)</td>
    <td align="left"><label>
      <input type="text" name="InCellCode" class="easyui-validatebox" required="true" readonly="true" id="inCellCode" missingmessage="请选择要移入的货位"/>
      <a href="#" onclick="inCellSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
    </label></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">货位名称(入)</td>
    <td align="left"><input type="text" name="InCellName" class="easyui-validatebox" required="true" readonly="true" id="inCellName"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">产品代码</td>
    <td align="left"><input type="text" name="ProductCode" class="easyui-validatebox" required="true" id="productCode" readonly="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">产品名称</td>
    <td align="left"><input type="text" name="ProductName"class="easyui-validatebox" required="true"  id="productName"   readonly="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">单位编码</td>
    <td align="left"><input type="text" name="UnitCode" class="easyui-validatebox" required="true"  readonly="true" id="unitCode" readonly="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">单位名称</td>
    <td align="left"><input type="text" name="UnitName"  readonly="true" id="unitName" class="easyui-validatebox" required="true" readonly="true"/></td>
    <td>
    </td>
  </tr>
    <tr>
    <td style=" text-align:right">数量</td>
    <td align="left"><input type="text" name="RealQuantity"class="easyui-numberbox" required="true" missingmessage="请输入要移库的数量"/></td>
    <td>
    </td>
  </tr>
</table>
</form>
</div>

<div id="dlg-AddBillDetailbuttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="DetailSave()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-AddBillDetail').dialog('close')">取消</a>
</div>

@Html.Partial("_CellPartial")
