<script type="text/javascript">
    var url;
    $(function () {
        $('#IsActivecc').combo({
            required: true,
            editable: false,
            panelHeight: 45
        });
        $('#isSortingLineType').combo({
            required: true,
            editable: false,
            panelHeight: 45
        });
    })

    function addClick() {
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#sortingLinefm').form('clear');
        $('#sortingLinefm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#IsActivecc').combo({
            hasDownArrow: true
        });
        $('#isSortingLineType').combo({
            hasDownArrow: true
        });
        url = '/SortingLine/Create/';
    };

    function save() {
        $('#sortingLinefm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.show({
                        title: '成功',
                        msg: result.msg
                    });
                    $('#dlg').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.show({
                        title: '错误',
                        msg: result.msg
                    });
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>
<div id="dlg" class="easyui-dialog" modal="true" style="width: 800px; height: 480px;"
    closed="true" buttons="#dlg-buttons">
    <table id="sortingOrderAllot" url='/SortingOrder/Details/' class="easyui-datagrid" singleSelect="false" pagination="true"
        border="false" fit="true" rownumbers="true">
        <thead>
             <tr>
                <th field="ck" checkbox="true">
                <th field="OrderID" width="80" >订单编码</th>
                <th field="OrderDate" width="120" >订单日期</th>
                <th field="OrderType" width="80" >订单类别</th>
                <th field="DeliverLineCode" width="100">送货编码</th>
                <th field="DeliverLineName" width="120">送货线路</th>
                <th field="QuantitySum" width="60">总数量</th>
                <th field="AmountSum" width="60">总金额</th>
                <th field="DetailNum" width="60">明细数</th>
                <th field="IsActive" width="60">是否可用</th>
            </tr>
        </thead>
    </table>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">
        取消</a>
</div>
