<script type="text/javascript">
    $(function () {

    });
</script>
 
<div region="center" split="true" border="false">    
    <table class="easyui-datagrid" id="details"
        url="/StockMoveBillType/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="BillTypeCode" width="60">订单类型编码</th>
                <th field="BillTypeName" width="90">订单类型名称</th>
                <th field="BillClass" width="80" align="left">订单类别</th>
                <th field="Description" width="120" align="left">描述</th>
                <th field="IsActive" width="80">是否可用</th>
                <th field="UpdateTime" width="100">更新时间</th>
            </tr>
        </thead>
    </table>
</div>

 

