    <div id="mx" class="easyui-dialog" modal="true" 
        style="width:800px;height:420px;padding:2px 2px"
        closed="true">    
    <table id="mxdetails" class="easyui-datagrid"
        border="false" singleSelect="true"
        fit="true" fitColumns="true"   pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ID" hidden="true" width="80">ID</th>
                <th  field="SettleDate" width="80">结算日期</th>
                <th  field="WarehouseCode" width="80">仓库编码</th>
                <th  field="ProductCode" width="80">商品编码</th>
                <th  field="UnitCode" width="80">单位编码</th>
                <th  field="Beginning" width="80">期初量</th>
                <th  field="EntryAmount" width="80">入库量</th>
                <th  field="DeliveryAmount" width="80">出库量</th>
                <th  field="ProfitAmount" width="80">盘盈量</th>
                <th  field="LossAmount" width="80">盘亏量</th>
                <th  field="Ending" width="80">结余量</th>
        </thead>
    </table>
  </div>
