<script type="text/javascript">
    var url;
    function formatAction(value, row, index) {
        var e = '<a href="#" onclick="DailyDetail(' + index + ')">日结明细</a> <a href="#"  onclick="BalanceAgain(' + index + ')">重新日结</a>';
        return e
    }
    function DailyDetail(index) {
        var row = $('#details').datagrid('getSelected');
        if (row) {
            $('#infos').datagrid({ url: '/DailyBalance/InfoDetails/?WarehouseCode=' + row.WarehouseCode + '&&SettleDate=' + row.SettleDate });           
            $('#InfoDetails').dialog('open').dialog('setTitle', '日结明细');
        }
    }
    function BalanceAgain(index) {
        var row = $('#details').datagrid('getSelected');
        $('#infos2').datagrid({ url: '/DailyBalance/DailyBalanceInfos/?WarehouseCode=' + row.WarehouseCode + '&&SettleDate=' + row.SettleDate });
        $('#InfoDetails2').dialog('open').dialog('setTitle', '日结明细');  
    }
</script>

<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/DailyBalance/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="SettleDate" width="80">日结日期</th>
                <th field="WarehouseName" width="80">仓库名称</th>
                <th field="Beginning" width="80">期初量</th>
                <th field="EntryAmount" width="80">入库总量</th>
                <th field="DeliveryAmount" width="80">出库总量</th>
                <th field="LossAmount" width="80">报损总量</th>
                <th field="ProfitAmount" width="80">报益总量</th>
                <th field="Ending" width="80">日结量</th>
                <th field="detail" width="80"  align="center" formatter="formatAction">操作</th>
            </tr>
        </thead>
    </table>
</div>
@Html.Partial("_Detail")