<script type="text/javascript">
    function formatAction(value, row, index) {
        var e = '<a href="#" onclick="detail()">日结明细</a> <a href="#" onclick="detail()">重新日结</a> ';
        return e
    }
    function detail() {
        alert("fgf");
        $('#mx').dialog('open').dialog('setTitle', '日结明细');
    }
</script>

    <div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/City/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                 <th field="UnitListCode" width="80">日结日期</th>
                <th field="UnitCode" width="80">期初量</th>
                <th field="SupplierCode" width="80">入库总量</th>
                <th field="BrandCode" width="80">出库总量</th>
                <th field="IsAbnormity" width="80">报损总量</th>
                <th field="IsActive" width="80">报益总量</th>
                <th field="UpdateTime" width="80">日结量</th>

                <th field="detail" width="80"  align="center" formatter="formatAction">操作</th>

        </thead>
    </table>
  </div>
    @Html.Partial("_Detail")