<script type="text/javascript">
    $(function () {
        $('#IsActive').combo({
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });
    })

    function searchClick() {
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.CompanyCode = $('#CompanyCode').val();
        queryParams.CompanyName = $('#CompanyName').val();
        queryParams.CompanyType = $('#CompanyType').val();
        queryParams.Status = $('#IsActive').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 10
        });
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close');
    }

</script>
<div id="dlg-search" class="easyui-dialog" modal="true" style="width: 300px; height: 210px;
    padding: 2px 2px" closed="true" buttons="#dlg-buttons-search">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <table width="250">
                <tr>
                    <td width="60">
                        公司编码:
                    </td>
                    <td width="168">
                        <input id="CompanyCode" class="easyui-validatebox" required="true">
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        公司名称：
                    </td>
                    <td width="168">
                        <input id="CompanyName" class="easyui-validatebox" required="true">
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        公司类型：
                    </td>
                    <td width="168">
                        <select id="CompanyType" name="CompanyType" class="easyui-combobox" required="true" style="width: 130px">
		                        <option value="1">配送中心</option>
		                        <option value="2">市公司</option>
                                <option value="3">县公司</option>
	                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        状态:
                    </td>
                    <td>
                        <select id="IsActive" name="IsActive" class="easyui-combobox" style="width: 130px">
                            <option value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-search">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="select()">查询</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">
        取消</a>
</div>
