<script type="text/javascript">
    $(function () {
        
    });
</script>
<div region="center" split="true"  border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid" url="/Company/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" >
        <thead>
            <tr>
                <th field="ID" hidden="true" width="80" >公司ID</th>
                <th field="CompanyCode" width="80" >公司编码</th>
                <th field="CompanyName" width="100">公司名称</th>
                <th field="CompanyType" width="60">公司类型</th>   
                <th field="ParentCompanyID" width="60">上级ID</th>   
                <th field="ParentCompanyName" width="80" >上级名称</th>
                <th field="UniformCode" width="100">统一编码</th>               
                <th field="Description" width="80" align="right">描述</th> 
                <th field="WarehouseSpace" width="80" >仓库面积</th>
                <th field="WarehouseCount" width="100">仓库个数</th>
                <th field="WarehouseCapacity" width="60">仓库容量</th>
                <th field="SortingCount" width="60">分拣线数</th>
                <th field="IsActive" width="80" align="right">状态</th>
                <th field="UpdateTime" width="100">更新时间</th>
            </tr>
        </thead>
    </table>
</div>
@*<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;"></div>
*@
 


