<script type="text/javascript">
    function cellCheckClick() {
        $('#cellDiv').css({ display: "block" });
        $('#produceDiv').css({ display: "none" });
        $('#realDiv').css({ display: "none" });
    }
    function productCheckClick() {
        $('#cellDiv').css({ display: "none" });
        $('#produceDiv').css({ display: "block" });
        $('#realDiv').css({ display: "none" });
    }
    function realCheckClick() {
        $('#cellDiv').css({ display: "none" });
        $('#produceDiv').css({ display: "none" });
        $('#realDiv').css({ display: "block" });
    }
</script>
<div region="center" split="true" border="false">
    <div id="header" toolbar="#toolbar" fit="true" style="text-align: left; border: 1px solid #ccc;">
        <div id="toolbar" class="datagrid-toolbar" style="width: auto; height: auto; background-color: #FFFFFF;">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" id="cellCheck" onclick="cellCheckClick()">货位盘点</a> 
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" id="productCheck" onclick="productCheckClick()">产品盘点</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" id="realCheck" onclick="realCheckClick()">异动盘点</a>
        </div>
    </div>
    <div id="cellDiv" style="display: none">
        @Html.Partial("_CellCheckPartial")
    </div>
    <div id="produceDiv" style="display: block">
        @Html.Partial("_ProductCheckPartial")
    </div>
    <div id="realDiv" style="display: none">
        @Html.Partial("_RealTimeCheckPartial")
    </div>
</div>
