<script type="text/javascript">
    var cellCheckParameter, ware, area, shelf, cell, productCheckParameter, begin, end;
    var ldata = { "rows": [] };
    var rdata = { "rows": [] };
    //新增
    function addClick() {
        addLoad();
        productLoad();
        $('#addCheck').dialog('open').dialog('setTitle', '新增盘点数据');
    }

    function productLoad() {
        $('#warehouseTree').tree({ url: '/Cell/GetCheckDetails/' }); //加载树形数据
       // $('#productTable').datagrid({ url: '/Product/CheckFindProduct/' }); //加载产品数据
//        $.getJSON("/Product/CheckFindProduct/", function (json) {
//            ldata = json;
//            $('#productTable').datagrid('loadData', ldata);
//        });
        $('#checkProductTable').datagrid('loadData', { total: 0, rows: [] }); //清空盘点的卷烟
        //$('#chanedCheckTable').datagrid({ url: '/CheckBill/CheckChangedDetails/' }); //加载异动数据
    }

    function DataLoad() {
        $('#wareHouseadd').combogrid({
            required: true,
            disabled: false,
            width: 130,
            panelWidth: 340,
            url: '/StockInBill/GetWareHouseDetail/?IsActive=1',
            idField: 'WarehouseCode',
            textField: 'WarehouseName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'WarehouseCode', title: '仓库编码', align: 'left', width: 40 },
                    { field: 'WarehouseName', title: '仓库名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });
    }

    //加载
    function addLoad() {
        $('#warehouseTree').tree({
            onClick: function (node) {
                if (node) {
                    $('#loadShowTable').datagrid('options').url = '/Storage/Details/?type=' + node.attributes + '&id=' + node.id;
                    $('#loadShowTable').datagrid('load');
                }
            }
        });
        $('#checkTabs').tabs({
            onSelect: function (title) {
                if (title == "货位盘点") {

                } else if (title == "产品盘点") {

                } else if (title == "异动盘点") {
                    $('#beginDate').datebox('setValue', "");
                    $('#endDate').datebox('setValue', "");
                    $('#beginDate').datebox({ editable: false });
                    $('#endDate').datebox({ editable: false });
                } else {
                    $.messager.alert('错误', '请选关闭页面重新打开或重新选择类型盘点！');
                }
            }
        });
    }

    //预览盘点数据
    function nextDivClick() {
        var tabsRow = $('#checkTabs').tabs('getSelected');
        if (tabsRow.panel('options').id == "cellCheck") {//选择货位盘点
            ware = "", area = "", shelf = "", cell = "", cellParameter = "";
            var roots = $('#warehouseTree').tree('getRoots');
            var areaChildren, shelfChildren, cellChildren;
            //仓库
            for (i = 0; i < roots.length; i++) {
                if (roots[i].attributes == "ware" && roots[i].checked == true) {
                    ware += roots[i].id + ",";
                } else {
                    areaChildren = $('#warehouseTree').tree('getChildren', roots[i].target);
                    //库区
                    for (j = 0; j < areaChildren.length; j++) {
                        if (areaChildren[j].attributes == "area" && areaChildren[j].checked == true) {
                            area += areaChildren[j].id + ",";
                        } else {
                            shelfChildren = $('#warehouseTree').tree('getChildren', areaChildren[j].target);
                            //货架
                            for (h = 0; h < shelfChildren.length; h++) {
                                if (shelfChildren[h].attributes == "shelf" && shelfChildren[h].checked == true) {
                                    shelf += shelfChildren[h].id + ",";
                                } else {
                                    cellChildren = $('#warehouseTree').tree('getChildren', shelfChildren[h].target);
                                    //货位
                                    for (k = 0; k < cellChildren.length; k++) {
                                        if (cellChildren[k].attributes == "cell" && cellChildren[k].checked == true) {
                                            cell += cellChildren[k].id + ",";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            if (ware != "" || area != "" || shelf != "" || cell != "") {
                $('#nextShowTable').datagrid('options').url = '/CheckBill/CheckCellDetails/?ware=' + ware + '&area=' + area + '&shelf=' + shelf + '&cell=' + cell;
                $('#nextShowTable').datagrid('load');
                $('#nextShowDiv').dialog('open').dialog('setTitle', '货位盘点数据预览');
            } else {
                $.messager.alert('错误', '请选择需盘点的货位！');
            }
        } else if (tabsRow.panel('options').id == "productCheck") {//选择产品盘点
            productCheckParameter = "";
            var checkRows = $('#checkProductTable').datagrid('getRows');
            for (var i = 0; i < checkRows.length; i++) {
                productCheckParameter += checkRows[i].ProductCode + ",";
            }
            if (productCheckParameter != "") {
                $('#nextShowTable').datagrid('options').url = '/CheckBill/CheckProductDetails/?products=' + productCheckParameter;
                $('#nextShowTable').datagrid('load');
                $('#nextShowDiv').dialog('open').dialog('setTitle', '产品盘点数据预览');
            } else {
                $.messager.alert('错误', '请选择需盘点的产品！');
            }
        } else if (tabsRow.panel('options').id == "changedCheck") {//选择异动盘点
            begin = $('#beginDate').datebox('getValue');
            end = $('#endDate').datebox('getValue');

            $('#nextShowTable').datagrid('options').url = '/CheckBill/CheckChangedDetails/?beginDate=' + begin + '&endDate=' + end;
            $('#nextShowTable').datagrid('load');
            $('#nextShowDiv').dialog('open').dialog('setTitle', '产品盘点数据预览');
        } else {
            $.messager.alert('错误', '没选择盘点方式！请关闭页面从新打开！');
        }
    }
</script>
<div id="addCheck" class="easyui-dialog" modal="true" style="width: 840px; height: 460px;
    padding: 1px 1px" closed="true" buttons="#dlg-buttons">
    <div id="checkTabs" class="easyui-tabs" fit="true">
        <div title="货位盘点" id="cellCheck">
            <div class="easyui-layout" fit="true">
                <div id="sidebar" region="west" border="false" style="width: 220px;border-right-style: solid; border-right-width: 1px; border-right-color: #99BBE8;" >
                    <ul id="warehouseTree" class="easyui-tree" checkbox="true" url=''>
                    </ul>
                </div>
                <div id="main" region="center" fit="true" border="false" style="margin: 1px">
                    <table id="loadShowTable" class="easyui-datagrid" border="false" singleselect="true"
                        fit="true" pagination="true" rownumbers="true">
                        <thead>
                            <tr>
                                <th field="CellCode" width="60">
                                    货位编码
                                </th>
                                <th field="CellName" width="80">
                                    货位名称
                                </th>
                                <th field="StorageCode" width="60">
                                    储存编码
                                </th>
                                <th field="ProductCode" width="60">
                                    产品编码
                                </th>
                                <th field="ProductName" width="124">
                                    产品名称
                                </th>
                                <th field="UnitCode" width="60">
                                    单位名称
                                </th>
                                <th field="Quantity" width="60">
                                    数量
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div title="产品盘点" id="productCheck">
            @Html.Partial("_ProductCheckPartial")
        </div>
        <div title="异动盘点" id="changedCheck">
            @Html.Partial("_ChangedCheckPartial")
        </div>
    </div>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="nextDivClick()">预览</a>
</div>
@Html.Partial("_CheckShowPartial")
@Html.Partial("_NextShowPartial")
