<script type="text/javascript">
    var cellParameter, ware, area, shelf, cell;
    function addLoad() {
        $('#warehouseTree').tree({
            onClick: function (node) {
                if (node) {
                    $('#loadShowTable').datagrid('options').url = '/Storage/Details/?type=' + node.attributes + '&id=' + node.id;
                    $('#loadShowTable').datagrid('load');
                }
            }
        });
    }

    function addClick() {
        addLoad();
        $('#addCheck').dialog('open').dialog('setTitle', '新增');
    }
    function nextDivClick() {
        ware = "", area = "", shelf = "", cell = "", cellParameter = "";
        var roots = $('#warehouseTree').tree('getRoots');
        var areaChildren, shelfChildren, cellChildren;
        //仓库
        for (i = 0; i < roots.length; i++) {
            if (roots[i].attributes == "ware" && roots[i].checked == true) {
                ware += roots[i].id + ",";
            } else {
                areaChildren = $('#warehouseTree').tree('getChildren', roots[i].target);
                //库区
                for (j = 0; j < areaChildren.length; j++) {
                    if (areaChildren[j].attributes == "area" && areaChildren[j].checked == true) {
                        area += areaChildren[j].id + ",";
                    } else {
                        shelfChildren = $('#warehouseTree').tree('getChildren', areaChildren[j].target);
                        //货架
                        for (h = 0; h < shelfChildren.length; h++) {
                            if (shelfChildren[h].attributes == "shelf" && shelfChildren[h].checked == true) {
                                shelf += shelfChildren[h].id + ",";
                            } else {
                                cellChildren = $('#warehouseTree').tree('getChildren', shelfChildren[h].target);
                                //货位
                                for (k = 0; k < cellChildren.length; k++) {
                                    if (cellChildren[k].attributes == "cell" && cellChildren[k].checked == true) {
                                        cell += cellChildren[k].id + ",";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        if (ware != "" || area != "" || shelf != "" || cell != "") {
            $('#nextShowTable').datagrid('options').url = '/Storage/CheckDetails/?ware=' + ware + '&area=' + area + '&shelf=' + shelf + '&cell=' + cell;
            $('#nextShowTable').datagrid('load');
            $('#nextShowDiv').dialog('open').dialog('setTitle', '盘点数据');
        } else {
            $.messager.confirm('错误', '请选择需盘点的货位！');
        }
    }
</script>
<div id="addCheck" class="easyui-dialog" modal="true" style="width: 840px; height: 460px;padding: 1px 1px" closed="true" buttons="#dlg-buttons">
    <div id="tt" class="easyui-tabs" fit="true">
		<div title="货位盘点">
            <div class="easyui-layout" fit="true"> 
                <div id="sidebar"  region="west"  style="width:220px;overflow: scroll;padding:1px; margin: 1px">
                    <ul id="warehouseTree"  class="easyui-tree" checkbox="true" url='/Cell/GetCheckDetails/'>
                    </ul>
                </div>
                <div id="main"  region="center" style="margin: 1px">
                    <table id="loadShowTable" class="easyui-datagrid" border="false" singleSelect="true"  fit="true" pagination="true" rownumbers="true">
                        <thead>
                            <tr>
                                <th field="CellCode" width="60">货位编码</th>
                                <th field="CellName" width="80">货位名称</th>
                                <th field="StorageCode" width="60">储存编码</th>
                                <th field="ProductCode" width="60">产品编码</th>
                                <th field="ProductName" width="124">产品名称</th>
                                <th field="UnitCode" width="60">单位名称</th>
                                <th field="Quantity" width="60">数量</th>
                            </tr>
                        </thead>
                    </table>
               </div>
          </div>
        </div>
		<div title="产品盘点">
			@Html.Partial("_ProductCheckPartial")
		</div>
		<div title="异动盘点">
			<img src="images/shirt3.gif">
		</div>
</div>
    
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="nextDivClick()">预览</a>
</div>
@Html.Partial("_NextShowPartial")
