<script type="text/javascript">

    
</script>
<div id="changedCheckDiv" class="easyui-dialog" modal="true" style="width:800px;height:500px;padding:0px 0px"
        closed="true" buttons="" >
        <div region="center" split="true"  border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">   
            <table class="easyui-datagrid" border="false" singleSelect="true" id="outBillDetails" url="" toolbar="#bar"
                fit="true" fitColumns="true"  pagination="true" rownumbers="true" >
                <thead>
                    <tr>
                    <th field="CellCode" width="60">
                        货位编码
                    </th>
                    <th field="CellName" width="80">
                        货位名称
                    </th>
                    <th field="StorageCode" width="60">
                        储存编码
                    </th>
                    <th field="ProductCode" width="60">
                        产品编码
                    </th>
                    <th field="ProductName" width="100">
                        产品名称
                    </th>
                    <th field="UnitCode" width="60">
                        单位编码
                    </th>
                    <th field="UnitName" width="60">
                        单位名称
                    </th>
                    <th field="Quantity" width="60">
                        数量
                    </th>
                </tr>
                </thead>
            </table>
        </div>
</div>
<div id="bar" style="width: auto; height: auto; background-color: #FFFFFF;">库区
    <input class="easyui-combobox"
            name="language"
            url=""
            valueField="id"
            textField="text"
            multiple="true"
            panelHeight="auto">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="allot()">分配</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="allotSave()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="editAllot()">修改分配结果</a>
</div>
