<script type="text/javascript">
    var data = { "total": 0, "rows": [] };
//    var ldata = { "rows": [] };
//    var rdata = { "rows": [] };
    //    $(function () {
    //        $.getJSON("/Product/FindProduct/", function (json) {
    //            ydata = json;
    //            $('#productTable').datagrid('loadData', ydata);
    //            
    //        });

    //        $('#productTable').datagrid({
    //            onLoadSuccess: function (data) {
    //                $('#checkProductTable').datagrid({
    //                    singleSelect: true
    //                });
    //                $('.item').draggable({
    //                    revert: true,
    //                    proxy: 'clone',
    //                    onStartDrag: function () {
    //                       // $(this).draggable('options').cursor = 'not-allowed';
    //                        // $(this).draggable('proxy').css('z-index', 10);
    //                        $(this).draggable('options').cursor = 'auto';
    //                        $(this).draggable('proxy').addClass('dp');  
    //                    },
    //                    onStopDrag: function () {
    //                        //$(this).draggable('options').cursor = 'move';
    //                        $(this).draggable('options').cursor = 'auto';  
    //                    }
    //                });
    //                $('.cart').droppable({
    //                    onDragEnter: function (e, source) {
    //                        $(source).draggable('options').cursor = 'auto';
    //                        $(source).draggable('proxy').css('border', '1px solid red');  
    //                    },
    //                    onDragLeave: function (e, source) {
    //                        $(source).draggable('options').cursor = 'not-allowed';
    //                        $(source).draggable('proxy').css('border', '1px solid #ccc');  
    //                    },
    //                    onDrop: function (e, source) {
    //                        var productName = $(source).find('p:eq(0)').html();
    //                        var producrCode = $(source).find('p:eq(1)').html();
    //                        var index = $(source).find('p:eq(2)').html();
    //                        addProduct(producrCode, productName, index);
    //                    }
    //                });
    //            }
    //        });
    //    });

    function addProduct(producrCode, productName, index) {
        function add() {
            data.rows.push({
                ProductCode: producrCode,
                ProductName: productName
            });
        }
        add();
        $('#productTable').datagrid('deleteRow', index);
        $('#checkProductTable').datagrid('loadData', data);
    }

    function formatAction(value, row, index) {
        var s = '<div class="item"><p>' + row.ProductName + '</p><p style="display:none">' + row.ProductCode + '</p><p style="display:none">' + index + '</p></div> ';
        return s;
    }

    function rightMoveClick() {
        var rows = $('#productTable').datagrid('getSelections');
        if (rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                var index = $('#productTable').datagrid('getRowIndex', rows[i]);
                //ldata.rows.splice(index,0)
                $('#productTable').datagrid('deleteRow', index);
                $('#checkProductTable').datagrid('appendRow', rows[i]);
            }
        } else {
            $.messager.alert(g_MsgBoxTitle, '请选择需要盘点的卷烟移向右边！', "error");
        }
    }

    function leftMoveClick() {
        var rows = $('#checkProductTable').datagrid('getSelections');
        if (rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                var index = $('#checkProductTable').datagrid('getRowIndex', rows[i]);
                $('#checkProductTable').datagrid('deleteRow', index);
                $('#productTable').datagrid('appendRow', rows[i]);
            }
        } else {
            $.messager.alert(g_MsgBoxTitle, '请选择需要盘点的卷烟移向左边！', "error");
        }
    }
</script>
<div class="easyui-layout" fit="true">
    <div region="west" style="width: 380px; border-right-style: solid; border-right-width: 1px; border-right-color: #99BBE8;" border="false">
        <table id="productTable" class="easyui-datagrid" border="false" url='/Product/CheckFindProduct/'
            singleselect="false" fit="true" rownumbers="true">
            <thead>
                <tr>
                    <th field="ck" checkbox="true">
                        <th field="ProductCode" width="100">
                            产品编码
                        </th>
                        <th field="ProductName" width="140">
                            产品名称
                        </th>
                        @*<th field="UnitCode" width="140">
                            单位（件）
                        </th>
                        <th field="Quantity" width="140">
                            数量
                        </th>*@
                </tr>
            </thead>
        </table>
    </div>
    <div region="center" style="text-align: center;" fit="true" border="false" >
        <table style="width:auto;height: 100%; text-align: center">
            <tr>
                <td style="height: auto; text-align: center">
                    <div style="height: 50px;"><a href="#" class="easyui-linkbutton" onclick="rightMoveClick()">>>></a></div>                  
                    <div style="height: 50px;"><a href="#" class="easyui-linkbutton" onclick="leftMoveClick()"><<<</a></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="cart" region="east" style="width: 380px; border-left-style: solid; border-left-width: 1px; border-left-color: #99BBE8;" border="false">
        <table id="checkProductTable" class="easyui-datagrid" border="false" url='' singleselect="false"
            fit="true" rownumbers="true">
            <thead>
                <tr>
                    <th field="ck" checkbox="true">
                        <th field="ProductCode" width="100">
                            产品编码
                        </th>
                        <th field="ProductName" width="140">
                            产品名称
                        </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
