<script type="text/javascript">
    function upCheckClick() {
        alert("生成完成了");
    }

    function formatAction(value, row, index) {
        if (row.editing) {
            var s = '<div class="item" onclick="saverow(' + index + ')">' + row.ProductName + '</div> ';
            return s + c;
        } else {
            var s = '<div class="item" onclick="saverow(' + index + ')">' + row.ProductName + '</div> ';
            return s + c;
        }
    }
</script>
<div class="easyui-layout" fit="true">
    <div id="sidebar" region="west" style="width: 300px;  padding: 1px; margin: 1px">
        <table id="productTable" class="easyui-datagrid" border="false" url='/Product/FindProduct/'
            singleselect="true" fit="true"  rownumbers="true">
            <thead>
                <tr>
                    <th field="ProductCode" width="100">
                        产品编码
                    </th>
                    <th field="ProductName" width="120">
                        产品名称
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="main" region="center" style="width: 80px;" fit="true">
    <table style=" height:100%; width:100%">
        <tr style="height:50%;width:50%">
        <td><a href="#" class="easyui-linkbutton" iconCls="icon-ok">右移==></a></td>
        </tr>
        <tr style="height:50%;width:50%">
        <td><a href="#" class="easyui-linkbutton" iconCls="icon-ok"><==左移</a></td>
        </tr>
    </table>
    
    </div>
    <div id="main" region="east" style="width: 300px;margin: 1px">
        <table id="loadShow" class="easyui-datagrid" border="false" url='/Product/FindProduct/'
            singleselect="true" fit="true"  rownumbers="true">
            <thead>
                <tr>
                    <th field="ProductCode" width="100">
                        产品编码
                    </th>
                    <th field="ProductName" width="120">
                        产品名称
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
